n8n-workflows-to-import/execution-logger.json
{
  "name": "📊 Log Executions to RAG",
  "nodes": [
    {
      "parameters": {
        "events": ["workflow.afterExecute"],
        "options": {}
      },
      "id": "1",
      "name": "After Any Workflow Executes",
      "type": "n8n-nodes-base.workflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "execution_id", "name": "execution_id", "value": "={{ $json.executionId }}", "type": "string"},
            {"id": "workflow_id", "name": "workflow_id", "value": "={{ $json.workflowId }}", "type": "string"},
            {"id": "workflow_name", "name": "workflow_name", "value": "={{ $json.workflowName }}", "type": "string"},
            {"id": "status", "name": "status", "value": "={{ $json.status }}", "type": "string"},
            {"id": "mode", "name": "mode", "value": "={{ $json.mode }}", "type": "string"},
            {"id": "started_at", "name": "started_at", "value": "={{ $json.startedAt }}", "type": "string"},
            {"id": "finished_at", "name": "finished_at", "value": "={{ $json.stoppedAt }}", "type": "string"},
            {"id": "duration_ms", "name": "duration_ms", "value": "={{ Math.floor(($json.stoppedAt - $json.startedAt) / 1000) }}", "type": "number"},
            {"id": "error_message", "name": "error_message", "value": "={{ $json.error?.message || null }}", "type": "string"}
          ]
        }
      },
      "id": "2",
      "name": "Extract Execution Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (execution_id, workflow_id, workflow_name, status, mode, started_at, finished_at, duration_ms, error_message)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9)\nON CONFLICT (execution_id) DO NOTHING",
        "additionalFields": {
          "queryParameters": {
            "parameters": [
              {"name": "execution_id", "value": "={{ $json.execution_id }}"},
              {"name": "workflow_id", "value": "={{ $json.workflow_id }}"},
              {"name": "workflow_name", "value": "={{ $json.workflow_name }}"},
              {"name": "status", "value": "={{ $json.status }}"},
              {"name": "mode", "value": "={{ $json.mode }}"},
              {"name": "started_at", "value": "={{ $json.started_at }}"},
              {"name": "finished_at", "value": "={{ $json.finished_at }}"},
              {"name": "duration_ms", "value": "={{ $json.duration_ms }}"},
              {"name": "error_message", "value": "={{ $json.error_message }}"}
            ]
          }
        }
      },
      "id": "3",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Supabase RAG Database"
        }
      }
    }
  ],
  "connections": {
    "After Any Workflow Executes": {
      "main": [[{"node": "Extract Execution Data", "type": "main", "index": 0}]]
    },
    "Extract Execution Data": {
      "main": [[{"node": "Save to Database", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-12T02:00:00.000Z",
  "versionId": "1"
}
