AI Agent - HubSpot Leads Tools
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a specialized HubSpot Leads Agent. You can list all leads, get lead details, create new leads, update leads, delete leads, search leads, list lead properties, and manage lead conversions. Always use the available tools to perform these operations.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        424,
        -288
      ],
      "id": "1f1474f8-5772-44b0-8f04-35fc94e3cc5c",
      "name": "AI Agent - Leads"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        -64
      ],
      "id": "239a4a97-a222-4998-a412-81c7873a22c2",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sessionId"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        -64
      ],
      "id": "b7648273-5c21-4a43-8842-518209e79ffa",
      "name": "Memory"
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        240,
        -64
      ],
      "id": "96aa7583-112f-4ef5-af52-44dad269b656",
      "name": "List All Leads",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/properties/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        368,
        -64
      ],
      "id": "6a5e16c2-6625-4daf-8a9a-f4747adcaa39",
      "name": "List Lead Properties",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        496,
        -64
      ],
      "id": "df8d0fd0-2c47-4678-93b2-90ffdfd513ed",
      "name": "Create Lead",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/leads/{{ $json.leadId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        624,
        -64
      ],
      "id": "fe84ade2-1e44-43b3-b0c9-c0dac6124df5",
      "name": "Get Lead by ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/leads/{{ $json.leadId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        752,
        -64
      ],
      "id": "14c77c6c-9752-41c5-8cf0-8de3fb249a9c",
      "name": "Update Lead",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.hubapi.com/crm/v3/objects/leads/{{ $json.leadId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        880,
        -64
      ],
      "id": "5eaad247-0351-43b4-9d7c-3d365ed73ec3",
      "name": "Delete Lead",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/leads/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1008,
        -64
      ],
      "id": "ac5d8a34-ebcd-490d-88d2-a94967b5887e",
      "name": "Search Leads",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Leads",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Leads",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List All Leads": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Leads",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Lead Properties": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Leads",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Leads",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead by ID": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Leads",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Leads",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Leads",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Leads": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Leads",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "2d82e0d27c2a88970c7ba9693b6bad225f1d31f9cf0d392d33dd9cabf99f185f"
  }
}
