AI Agent - HubSpot Engagement Tools
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a specialized HubSpot Engagements Agent. You can create and manage calls, emails, meetings, notes, and tasks. You can list all engagements, get engagement details, create new engagements, update engagements, delete engagements, and search engagements by type. Always use the available tools to perform these operations.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1288,
        -32
      ],
      "id": "314895d6-7558-4a0a-82da-a8ff8c349940",
      "name": "AI Agent - Engagements"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        656,
        192
      ],
      "id": "7e8a2301-d1de-4b00-9747-ce7a077443a7",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sessionId"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        784,
        192
      ],
      "id": "379f72e7-cb2b-4d3c-bf44-e2956b1e7c20",
      "name": "Memory"
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/engagements/v1/engagements/paged",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        912,
        192
      ],
      "id": "a3fb9916-3eb9-41f8-82ef-472340748268",
      "name": "List All Engagements",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/engagements/v1/engagements/{{ $json.engagementId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1040,
        192
      ],
      "id": "f19e2a1d-baf3-43e0-9c25-e526af52cc82",
      "name": "Get Engagement by ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/engagements/v1/engagements",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1168,
        192
      ],
      "id": "5cee40ae-4118-4c88-bf0c-01408e79c1f0",
      "name": "Create Engagement",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/engagements/v1/engagements/{{ $json.engagementId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1296,
        192
      ],
      "id": "49bbf703-e831-4623-8c56-1d385d456904",
      "name": "Update Engagement",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.hubapi.com/engagements/v1/engagements/{{ $json.engagementId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1424,
        192
      ],
      "id": "b7163a71-a03f-461b-b7fc-16cf3265c324",
      "name": "Delete Engagement",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/engagements/v1/engagements",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1552,
        192
      ],
      "id": "671c48b1-699a-4daf-a7c0-e5b5d6db46a7",
      "name": "Create Note",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/engagements/v1/engagements",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1680,
        192
      ],
      "id": "bc2d9f10-3a7d-40cb-94e6-6d261d160083",
      "name": "Create Email",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/engagements/v1/engagements",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1808,
        192
      ],
      "id": "5e7f7762-ccbb-40e0-b760-a86928040030",
      "name": "Create Meeting",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/engagements/v1/engagements",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1936,
        192
      ],
      "id": "bab67d27-f58e-4cb2-ae38-8b459937e22b",
      "name": "Create Call",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/engagements/v1/engagements",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2064,
        192
      ],
      "id": "3faee93f-297f-4baf-92d0-d74dd1ee07bc",
      "name": "Create Task",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Engagements",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Engagements",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List All Engagements": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Engagements",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Engagement by ID": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Engagements",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Engagement": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Engagements",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Engagement": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Engagements",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Engagement": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Engagements",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Note": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Engagements",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Engagements",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Meeting": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Engagements",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Call": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Engagements",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Engagements",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "2d82e0d27c2a88970c7ba9693b6bad225f1d31f9cf0d392d33dd9cabf99f185f"
  }
}
