AI Agent - HubSpot Contact Tools
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a specialized HubSpot Contacts Agent. You can list all contacts, get contact details, create new contacts, update contacts, delete contacts, search contacts, list contact properties, create custom properties, and batch read contacts. Always use the available tools to perform these operations.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        376,
        -192
      ],
      "id": "7923a0a3-06d8-4023-bdba-ae1af10a893b",
      "name": "AI Agent - Contacts"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -192,
        32
      ],
      "id": "86c045b1-6949-49e2-8132-ec5f527799b6",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sessionId"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        32
      ],
      "id": "48d6051d-e725-46d7-8546-cd3ec84b8568",
      "name": "Memory"
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        64,
        32
      ],
      "id": "6629844a-970a-46bf-9cb5-75d71e8a4e0e",
      "name": "List All Contacts",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/properties/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        192,
        32
      ],
      "id": "e6acda3f-bbe4-4976-a293-f193284e0041",
      "name": "List Contact Properties",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        320,
        32
      ],
      "id": "ff7d5bfe-f400-4a61-8547-d97c61585ff7",
      "name": "Create Contact",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.contactId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        448,
        32
      ],
      "id": "c0041ecd-014c-41d6-a8fe-e91f33dcb94a",
      "name": "Get Contact by ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.contactId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        576,
        32
      ],
      "id": "b3dbf404-af8c-4d45-8792-354e88eac00a",
      "name": "Update Contact",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.contactId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        704,
        32
      ],
      "id": "51271fcf-1b01-4eb3-9cb2-eec174d1568f",
      "name": "Delete Contact",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        832,
        32
      ],
      "id": "12936b04-afbc-4758-b03b-0f4282f9c142",
      "name": "Search Contacts",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/properties/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        960,
        32
      ],
      "id": "81190260-8592-44ba-abb3-5e177bce93f4",
      "name": "Create Contact Property",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/batch/read",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1088,
        32
      ],
      "id": "af9336a8-f76b-4f6c-a3ab-b426566c3d80",
      "name": "Batch Read Contacts",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List All Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Contact Properties": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact by ID": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact Property": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Batch Read Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "2d82e0d27c2a88970c7ba9693b6bad225f1d31f9cf0d392d33dd9cabf99f185f"
  }
}
