AI Agent - HubSpot Workflows Tools
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a specialized HubSpot Workflows Agent. You can list all workflows, get workflow details, create new workflows, update workflows, enroll contacts in workflows, unenroll contacts from workflows, get workflow actions, and manage workflow automation. Always use the available tools to perform these operations.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        824,
        -48
      ],
      "id": "cf3bfb7f-6155-40ba-a940-727ac0dd1fcd",
      "name": "AI Agent - Workflows"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        320,
        176
      ],
      "id": "9a387162-d4ce-44c2-ad4e-2f67fccbd86b",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sessionId"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        448,
        176
      ],
      "id": "141d0e4d-95c4-4736-9d09-0d8010b656ac",
      "name": "Memory"
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/automation/v4/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        576,
        176
      ],
      "id": "2d86eec1-e4e0-4fac-995d-c35391671355",
      "name": "List All Workflows",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/automation/v4/workflows/{{ $json.workflowId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        704,
        176
      ],
      "id": "0c24b0f7-47b0-49db-9e33-67b04a3c5a00",
      "name": "Get Workflow by ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/automation/v4/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        832,
        176
      ],
      "id": "272402cd-9bb6-4be5-8f74-f023fac2743f",
      "name": "Create Workflow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/automation/v4/workflows/{{ $json.workflowId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        960,
        176
      ],
      "id": "b2df48e0-312d-4e21-a869-9f96c46efc09",
      "name": "Update Workflow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.hubapi.com/automation/v4/workflows/{{ $json.workflowId || $json.id }}/enrollments/contacts/{{ $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1088,
        176
      ],
      "id": "807b29bd-59fa-4938-aa37-b6d1310f9072",
      "name": "Enroll Contact in Workflow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.hubapi.com/automation/v4/workflows/{{ $json.workflowId || $json.id }}/enrollments/contacts/{{ $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1216,
        176
      ],
      "id": "e409d280-cf9a-404d-aa84-26d8ade645d3",
      "name": "Unenroll Contact from Workflow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/automation/v4/workflows/{{ $json.workflowId || $json.id }}/actions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1344,
        176
      ],
      "id": "4e66036b-7435-4a15-90f3-b67012de82ae",
      "name": "Get Workflow Actions",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/automation/v4/workflows/{{ $json.workflowId || $json.id }}/enrollments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1472,
        176
      ],
      "id": "3973e142-0dbd-4c20-a280-b3d357e5aef6",
      "name": "Get Workflow Enrollments",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Workflows",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Workflows",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List All Workflows": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Workflows",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow by ID": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Workflows",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Workflows",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Workflows",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enroll Contact in Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Workflows",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Unenroll Contact from Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Workflows",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Actions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Workflows",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Enrollments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Workflows",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "2d82e0d27c2a88970c7ba9693b6bad225f1d31f9cf0d392d33dd9cabf99f185f"
  }
}
