AI Agent - HubSpot Lists Tools
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a specialized HubSpot Lists Agent. You can list all lists (segments), get list details, create new lists (manual, dynamic, or snapshot), update lists, delete lists, search lists, add contacts to lists, remove contacts from lists, and manage list memberships. Always use the available tools to perform these operations.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1176,
        0
      ],
      "id": "be2f809e-53df-45f9-ae06-f6a45db90c6f",
      "name": "AI Agent - Lists"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        608,
        224
      ],
      "id": "26031df2-2e9a-4305-a4e5-7486a0087023",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sessionId"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        224
      ],
      "id": "f232041a-4f43-4b77-826e-14c8b0c812ce",
      "name": "Memory"
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/lists",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        864,
        224
      ],
      "id": "2364fda7-b2bb-4d93-ba6f-334041eb6d8a",
      "name": "List All Lists",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/lists/{{ $json.listId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        992,
        224
      ],
      "id": "87cb055b-d06e-4b7f-81b4-cc2b142c0a3a",
      "name": "Get List by ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/lists",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1120,
        224
      ],
      "id": "2d1ae5e1-3f21-46b0-b21c-3bcdfaa940dc",
      "name": "Create List",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/lists/{{ $json.listId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1248,
        224
      ],
      "id": "0dd0bfe3-5b9a-41c5-8d0f-57dfe02bf07f",
      "name": "Update List",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.hubapi.com/crm/v3/lists/{{ $json.listId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1376,
        224
      ],
      "id": "a293a3d8-0f59-4ced-a49d-1f4d744c615f",
      "name": "Delete List",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/lists/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1504,
        224
      ],
      "id": "f26c9d93-f2f2-42ac-8e21-1b8fbc8b2f0c",
      "name": "Search Lists",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v3/lists/{{ $json.listId }}/memberships/add",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1632,
        224
      ],
      "id": "ddd348db-cbeb-4d46-9f99-1e5ddd7e70e0",
      "name": "Add Contacts to List",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v3/lists/{{ $json.listId }}/memberships/remove",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1760,
        224
      ],
      "id": "20dcac75-97df-4205-b9b4-98e181686661",
      "name": "Remove Contacts from List",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/lists/{{ $json.listId }}/memberships",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1888,
        224
      ],
      "id": "c06ae95d-4eb6-443a-9e22-4e6dd4d4e999",
      "name": "Get List Members",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Lists",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Lists",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List All Lists": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Lists",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get List by ID": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Lists",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create List": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Lists",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update List": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Lists",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete List": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Lists",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Lists": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Lists",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Contacts to List": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Lists",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Remove Contacts from List": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Lists",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get List Members": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Lists",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "2d82e0d27c2a88970c7ba9693b6bad225f1d31f9cf0d392d33dd9cabf99f185f"
  }
}
