AI Agent - HubSpot Tickets Tools
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a specialized HubSpot Tickets Agent. You can list all tickets, get ticket details, create new tickets, update tickets, delete tickets, search tickets, list ticket properties, manage ticket associations, and handle support ticket operations. Always use the available tools to perform these operations.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        920,
        -176
      ],
      "id": "d5d2ada0-ad72-4766-abcb-c83a71344567",
      "name": "AI Agent - Tickets"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        48
      ],
      "id": "b044c548-5ce6-40b8-a95e-dae93bf543de",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sessionId"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        48
      ],
      "id": "7fe2ec34-65f4-49dc-8049-516046fb9280",
      "name": "Memory"
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/tickets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        608,
        48
      ],
      "id": "f5d6338d-08f8-40be-b134-4a61b2a4166e",
      "name": "List All Tickets",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/properties/tickets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        736,
        48
      ],
      "id": "d5fddd14-7799-4a1d-9e8c-997d8bb8d143",
      "name": "List Ticket Properties",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/tickets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        864,
        48
      ],
      "id": "8c5b24ea-c123-486f-b48c-afc50419be15",
      "name": "Create Ticket",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/tickets/{{ $json.ticketId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        992,
        48
      ],
      "id": "c7b2fa82-f96c-459b-a75c-3cad22274540",
      "name": "Get Ticket by ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/tickets/{{ $json.ticketId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1120,
        48
      ],
      "id": "aee40166-1e5f-4442-aa81-a35eb243b49b",
      "name": "Update Ticket",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.hubapi.com/crm/v3/objects/tickets/{{ $json.ticketId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1248,
        48
      ],
      "id": "cb490105-5f3e-4d37-a26a-e39d955b639e",
      "name": "Delete Ticket",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/tickets/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1376,
        48
      ],
      "id": "631b18e8-1e99-4848-88d5-c0a59eed999f",
      "name": "Search Tickets",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/pipelines/tickets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1504,
        48
      ],
      "id": "6b8c4db2-b486-4743-92af-d353faef204d",
      "name": "Get Ticket Pipelines",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v4/objects/tickets/{{ $json.ticketId }}/associations/{{ $json.toObjectType || 'contacts' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1632,
        48
      ],
      "id": "7e44e111-056e-4430-8bb4-00a27a3a8622",
      "name": "Get Ticket Associations",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Tickets",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Tickets",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List All Tickets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Tickets",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Ticket Properties": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Tickets",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Ticket": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Tickets",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Ticket by ID": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Tickets",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Ticket": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Tickets",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Ticket": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Tickets",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Tickets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Tickets",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Ticket Pipelines": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Tickets",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Ticket Associations": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Tickets",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "2d82e0d27c2a88970c7ba9693b6bad225f1d31f9cf0d392d33dd9cabf99f185f"
  }
}
