AI_Agent_HubSpot_Sequences_Enhanced.n8n.json
{
  "name": "AI Agent - HubSpot Sequences (Enhanced)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {"name": "request_id", "type": "string"},
            {"name": "session_id", "type": "string"},
            {"name": "user_id", "type": "string"},
            {"name": "user_message", "type": "string"},
            {"name": "sequence_id", "type": "string"},
            {"name": "contact_id", "type": "string"},
            {"name": "tool_name", "type": "string"},
            {"name": "dry_run", "type": "boolean"},
            {"name": "conversation_id", "type": "string"}
          ]
        }
      },
      "id": "trigger-1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-800, 0]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst tool_name = input.tool_name || 'hubspot.sequences';\nconst dry_run = input.dry_run ?? true;\nconst q = v => v == null || v === '' ? null : String(v);\nconst payload = {...input, tool_name, dry_run, _started_ms: Date.now()};\nconst log_sql = `INSERT INTO tool_execution_log (tool_name, input_data, success, conversation_id, user_id, required_approval) VALUES ($1, $2::jsonb, false, $3, $4, $5) RETURNING id;`;\nreturn [{json: {...payload, log_start_sql: log_sql, log_start_params: [tool_name, JSON.stringify(payload), q(input.conversation_id), q(input.user_id), !dry_run]}}];"
      },
      "id": "normalize-1",
      "name": "Normalize + Build SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 0]
    },
    {"parameters": {"operation": "executeQuery", "query": "={{$json.log_start_sql}}", "options": {"queryReplacement": "={{ $json.log_start_params }}"}}, "id": "log-start-1", "name": "Log Start", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [-320, 0], "credentials": {"postgres": {"id": "BwXy2JHETe47vH1I", "name": "Postgres account 2"}}},
    {"parameters": {"jsCode": "const base = $('Normalize + Build SQL').first().json;\nconst logStart = $('Log Start').first().json;\nreturn [{json: {...base, tool_execution_id: logStart?.id || null}}];"}, "id": "assemble-1", "name": "Assemble", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-80, 0]},
    {
      "parameters": {
        "text": "={{ ['USER_REQUEST:', $json.user_message, 'RUNTIME:', JSON.stringify({tool_name: $json.tool_name, dry_run: $json.dry_run, sequence_id: $json.sequence_id, contact_id: $json.contact_id})].join('\\n') }}",
        "options": {
          "maxIterations": 15,
          "systemMessage": "You are the HubSpot SEQUENCES Agent.\n\nYour job:\n- Manage sales sequences (automated email outreach)\n- Enroll/unenroll contacts in sequences\n- Monitor sequence performance\n\nAVAILABLE TOOLS:\n\nSEQUENCE MANAGEMENT:\n- List Sequences - Get all sequences\n- Get Sequence by ID - Get sequence details\n- Search Sequences - Search by name\n- Get Sequence Steps - Get email steps\n- Get Sequence Settings - Get configuration\n\nENROLLMENT:\n- Get Sequence Enrollments - Get enrolled contacts\n- Get Contact Enrollment - Check if contact enrolled\n- Enroll Contact - Add contact to sequence (WRITE)\n- Unenroll Contact - Remove contact (WRITE)\n- Batch Enroll Contacts - Enroll multiple (WRITE)\n- Pause Enrollment - Pause for contact (WRITE)\n- Resume Enrollment - Resume for contact (WRITE)\n\nPERFORMANCE:\n- Get Sequence Stats - Performance metrics\n- Get Step Performance - Per-step metrics\n\nOUTPUT FORMAT:\n{\"summary\": \"...\", \"data\": {}, \"errors\": []}"
        },
        "promptType": "define"
      },
      "id": "agent-1",
      "name": "AI Agent - Sequences",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [160, 0],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {"parameters": {"model": {"__rl": true, "mode": "list", "value": "gpt-4o"}, "options": {}}, "id": "llm-1", "name": "OpenAI Chat Model", "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.3, "position": [-80, 200], "credentials": {"openAiApi": {"id": "Lb7LQd5GQa1bZ9yX", "name": "OpenAi account 4"}}},
    {"parameters": {"sessionKey": "session_id", "sessionIdType": "customKey"}, "id": "memory-1", "name": "Memory", "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow", "typeVersion": 1.3, "position": [40, 200]},
    {"parameters": {"url": "https://api.hubapi.com/automation/v4/sequences", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendQuery": true, "specifyQuery": "json", "options": {}, "toolDescription": "List all sequences. Query: limit, after."}, "id": "tool-list-sequences", "name": "List Sequences", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [160, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "=https://api.hubapi.com/automation/v4/sequences/{{ $json.sequenceId }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Get sequence by ID."}, "id": "tool-get-sequence", "name": "Get Sequence by ID", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [280, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "POST", "url": "https://api.hubapi.com/automation/v4/sequences/search", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "options": {}, "toolDescription": "Search sequences. Body: {query: 'name'}."}, "id": "tool-search", "name": "Search Sequences", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [400, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "=https://api.hubapi.com/automation/v4/sequences/{{ $json.sequenceId }}/steps", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Get sequence email steps."}, "id": "tool-steps", "name": "Get Sequence Steps", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [520, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "=https://api.hubapi.com/automation/v4/sequences/{{ $json.sequenceId }}/settings", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Get sequence settings/configuration."}, "id": "tool-settings", "name": "Get Sequence Settings", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [640, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "=https://api.hubapi.com/automation/v4/sequences/{{ $json.sequenceId }}/enrollments", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendQuery": true, "specifyQuery": "json", "options": {}, "toolDescription": "Get contacts enrolled in sequence. Query: limit, after."}, "id": "tool-enrollments", "name": "Get Sequence Enrollments", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [760, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "=https://api.hubapi.com/automation/v4/sequences/enrollments/contacts/{{ $json.contactId }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Get enrollment status for a contact."}, "id": "tool-contact-enrollment", "name": "Get Contact Enrollment", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [880, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "POST", "url": "=https://api.hubapi.com/automation/v4/sequences/{{ $json.sequenceId }}/enrollments", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "options": {}, "toolDescription": "Enroll contact in sequence. Body: {contactId, senderId}. WRITE."}, "id": "tool-enroll", "name": "Enroll Contact", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [160, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "DELETE", "url": "=https://api.hubapi.com/automation/v4/sequences/{{ $json.sequenceId }}/enrollments/{{ $json.enrollmentId }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Unenroll contact from sequence. WRITE."}, "id": "tool-unenroll", "name": "Unenroll Contact", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [280, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "POST", "url": "=https://api.hubapi.com/automation/v4/sequences/{{ $json.sequenceId }}/enrollments/batch", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "options": {}, "toolDescription": "Batch enroll multiple contacts. Body: {inputs: [{contactId, senderId}]}. WRITE."}, "id": "tool-batch-enroll", "name": "Batch Enroll Contacts", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [400, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "POST", "url": "=https://api.hubapi.com/automation/v4/sequences/enrollments/{{ $json.enrollmentId }}/pause", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Pause enrollment for a contact. WRITE."}, "id": "tool-pause", "name": "Pause Enrollment", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [520, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "POST", "url": "=https://api.hubapi.com/automation/v4/sequences/enrollments/{{ $json.enrollmentId }}/resume", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Resume paused enrollment. WRITE."}, "id": "tool-resume", "name": "Resume Enrollment", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [640, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "=https://api.hubapi.com/automation/v4/sequences/{{ $json.sequenceId }}/stats", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Get sequence performance statistics."}, "id": "tool-stats", "name": "Get Sequence Stats", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [760, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "=https://api.hubapi.com/automation/v4/sequences/{{ $json.sequenceId }}/steps/{{ $json.stepId }}/stats", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Get performance metrics for a specific step."}, "id": "tool-step-stats", "name": "Get Step Performance", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [880, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"jsCode": "const base = $('Assemble').first().json;\nconst agentRaw = $('AI Agent - Sequences').first().json;\nlet agentOut = {};\ntry { agentOut = typeof agentRaw.output === 'object' ? agentRaw.output : JSON.parse((agentRaw.output||'{}').replace(/^```json|```$/g,'')); } catch {}\nconst ok = !agentOut?.errors?.length;\nconst esc = s => String(s??'').replace(/'/g,\"''\");\nconst final = {ok, summary: agentOut?.summary || 'done', data: agentOut?.data, errors: agentOut?.errors || []};\nfinal.log_end_sql = `UPDATE tool_execution_log SET output_data = '${esc(JSON.stringify(final))}'::jsonb, success = ${ok} WHERE id = '${esc(base.tool_execution_id)}'::uuid;`;\nreturn [{json: final}];"}, "id": "parse-1", "name": "Parse Output", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [400, 0]},
    {"parameters": {"operation": "executeQuery", "query": "={{$json.log_end_sql}}", "options": {}}, "id": "log-end-1", "name": "Log End", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [640, 0], "credentials": {"postgres": {"id": "BwXy2JHETe47vH1I", "name": "Postgres account 2"}}, "onError": "continueRegularOutput"},
    {"parameters": {"options": {}}, "type": "@n8n/n8n-nodes-langchain.chatTrigger", "typeVersion": 1.4, "position": [-800, -200], "id": "chat-trigger-1", "name": "Chat Trigger", "webhookId": "sequences-test"},
    {"parameters": {"jsCode": "return [{json: {user_message: $input.first().json.chatInput || '', dry_run: true, tool_name: 'hubspot.sequences', session_id: 'test'}}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-560, -200], "id": "chat-norm", "name": "Normalize Chat"}
  ],
  "connections": {
    "When Executed by Another Workflow": {"main": [[{"node": "Normalize + Build SQL", "type": "main", "index": 0}]]},
    "Chat Trigger": {"main": [[{"node": "Normalize Chat", "type": "main", "index": 0}]]},
    "Normalize Chat": {"main": [[{"node": "Normalize + Build SQL", "type": "main", "index": 0}]]},
    "Normalize + Build SQL": {"main": [[{"node": "Log Start", "type": "main", "index": 0}]]},
    "Log Start": {"main": [[{"node": "Assemble", "type": "main", "index": 0}]]},
    "Assemble": {"main": [[{"node": "AI Agent - Sequences", "type": "main", "index": 0}]]},
    "AI Agent - Sequences": {"main": [[{"node": "Parse Output", "type": "main", "index": 0}]]},
    "Parse Output": {"main": [[{"node": "Log End", "type": "main", "index": 0}]]},
    "OpenAI Chat Model": {"ai_languageModel": [[{"node": "AI Agent - Sequences", "type": "ai_languageModel", "index": 0}]]},
    "Memory": {"ai_memory": [[{"node": "AI Agent - Sequences", "type": "ai_memory", "index": 0}]]},
    "List Sequences": {"ai_tool": [[{"node": "AI Agent - Sequences", "type": "ai_tool", "index": 0}]]},
    "Get Sequence by ID": {"ai_tool": [[{"node": "AI Agent - Sequences", "type": "ai_tool", "index": 0}]]},
    "Search Sequences": {"ai_tool": [[{"node": "AI Agent - Sequences", "type": "ai_tool", "index": 0}]]},
    "Get Sequence Steps": {"ai_tool": [[{"node": "AI Agent - Sequences", "type": "ai_tool", "index": 0}]]},
    "Get Sequence Settings": {"ai_tool": [[{"node": "AI Agent - Sequences", "type": "ai_tool", "index": 0}]]},
    "Get Sequence Enrollments": {"ai_tool": [[{"node": "AI Agent - Sequences", "type": "ai_tool", "index": 0}]]},
    "Get Contact Enrollment": {"ai_tool": [[{"node": "AI Agent - Sequences", "type": "ai_tool", "index": 0}]]},
    "Enroll Contact": {"ai_tool": [[{"node": "AI Agent - Sequences", "type": "ai_tool", "index": 0}]]},
    "Unenroll Contact": {"ai_tool": [[{"node": "AI Agent - Sequences", "type": "ai_tool", "index": 0}]]},
    "Batch Enroll Contacts": {"ai_tool": [[{"node": "AI Agent - Sequences", "type": "ai_tool", "index": 0}]]},
    "Pause Enrollment": {"ai_tool": [[{"node": "AI Agent - Sequences", "type": "ai_tool", "index": 0}]]},
    "Resume Enrollment": {"ai_tool": [[{"node": "AI Agent - Sequences", "type": "ai_tool", "index": 0}]]},
    "Get Sequence Stats": {"ai_tool": [[{"node": "AI Agent - Sequences", "type": "ai_tool", "index": 0}]]},
    "Get Step Performance": {"ai_tool": [[{"node": "AI Agent - Sequences", "type": "ai_tool", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [],
  "pinData": {}
}
