AI_Agent_HubSpot_Deals_Enhanced.n8n.json
{
  "name": "AI Agent - HubSpot Deals (Enhanced)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "request_id",
              "type": "string"
            },
            {
              "name": "session_id",
              "type": "string"
            },
            {
              "name": "chat_id",
              "type": "string"
            },
            {
              "name": "user_id",
              "type": "string"
            },
            {
              "name": "user_message",
              "type": "string"
            },
            {
              "name": "object_type",
              "type": "string"
            },
            {
              "name": "object_id",
              "type": "string"
            },
            {
              "name": "company_id",
              "type": "string"
            },
            {
              "name": "contact_id",
              "type": "string"
            },
            {
              "name": "deal_id",
              "type": "string"
            },
            {
              "name": "caller_workflow_id",
              "type": "string"
            },
            {
              "name": "caller_execution_id",
              "type": "string"
            },
            {
              "name": "tool_name",
              "type": "string"
            },
            {
              "name": "dry_run",
              "type": "boolean"
            },
            {
              "name": "conversation_id",
              "type": "string"
            },
            {
              "name": "hs_portal_id",
              "type": "string"
            }
          ]
        }
      },
      "id": "trigger-1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst nowIso = new Date().toISOString();\nconst startedMs = Date.now();\n\nconst tool_name = input.tool_name || 'hubspot.deals';\nconst dry_run = (input.dry_run === undefined || input.dry_run === null) ? true : !!input.dry_run;\n\nconst q = (v) => (v === undefined || v === null || v === '') ? null : String(v);\n\nconst note_scope = 'hubspot';\nconst note_key = input.deal_id \n  ? `deal.${input.deal_id}` \n  : (input.object_type && input.object_id ? `${input.object_type}.${input.object_id}` : 'deals.unknown');\n\nconst payload_for_log = {\n  ...input,\n  tool_name,\n  dry_run,\n  note_scope,\n  note_key,\n  started_at: nowIso,\n  _started_ms: startedMs\n};\n\n// Parameterized SQL for log_start\nconst log_start_sql = `\nINSERT INTO tool_execution_log (\n  tool_name,\n  input_data,\n  success,\n  conversation_id,\n  user_id,\n  required_approval\n)\nVALUES ($1, $2::jsonb, false, $3, $4, $5)\nRETURNING id;\n`;\n\nconst log_start_params = [\n  tool_name,\n  JSON.stringify(payload_for_log),\n  q(input.conversation_id),\n  q(input.user_id),\n  !dry_run\n];\n\n// Parameterized SQL for context loading\nconst ctx_sql = `\nSELECT jsonb_build_object(\n  'hubspot_deal', (\n    SELECT to_jsonb(d)\n    FROM hubspot_deals d\n    WHERE d.id = $1\n    LIMIT 1\n  ),\n  'associated_company', (\n    SELECT to_jsonb(c)\n    FROM hubspot_companies c\n    WHERE c.id = $2\n    LIMIT 1\n  ),\n  'associated_contact', (\n    SELECT to_jsonb(ct)\n    FROM hubspot_contacts ct\n    WHERE ct.id = $3\n    LIMIT 1\n  ),\n  'agent_notes', (\n    SELECT COALESCE(jsonb_agg(n ORDER BY n.updated_at DESC), '[]'::jsonb)\n    FROM agent_notes n\n    WHERE n.scope = $4\n      AND n.note_key = $5\n    LIMIT 10\n  ),\n  'deal_properties_sample', (\n    SELECT jsonb_agg(p.attrs->'properties')\n    FROM hubspot_deals p\n    LIMIT 3\n  )\n) AS context;\n`;\n\nconst ctx_params = [\n  q(input.deal_id),\n  q(input.company_id),\n  q(input.contact_id),\n  note_scope,\n  note_key\n];\n\nreturn [{\n  json: {\n    ...payload_for_log,\n    log_start_sql,\n    log_start_params,\n    ctx_sql,\n    ctx_params\n  }\n}];"
      },
      "id": "normalize-1",
      "name": "Normalize + Build SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.log_start_sql}}",
        "options": {
          "queryReplacement": "={{ $json.log_start_params }}"
        }
      },
      "id": "log-start-1",
      "name": "Log Start (tool_execution_log)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -320,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.ctx_sql}}",
        "options": {
          "queryReplacement": "={{ $json.ctx_params }}"
        }
      },
      "id": "load-context-1",
      "name": "Load Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -320,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalize + Build SQL').first().json;\n\nconst logStart = $('Log Start (tool_execution_log)').first().json;\nconst tool_execution_id = (logStart && logStart.id) ? logStart.id : null;\n\nconst ctxRows = $('Load Context').first().json;\nconst context_pack = (ctxRows && ctxRows.context) ? ctxRows.context : {};\n\nreturn [{\n  json: {\n    ...base,\n    tool_execution_id,\n    context_pack\n  }\n}];"
      },
      "id": "assemble-1",
      "name": "Assemble Context Pack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "text": "={{ \n[\n  \"USER_REQUEST:\",\n  ($json.user_message || \"\").toString(),\n  \"\",\n  \"RUNTIME:\",\n  JSON.stringify({\n    tool_name: $json.tool_name || \"hubspot.deals\",\n    dry_run: $json.dry_run ?? true,\n    session_id: $json.session_id,\n    request_id: $json.request_id,\n    conversation_id: $json.conversation_id,\n    deal_id: $json.deal_id,\n    company_id: $json.company_id,\n    contact_id: $json.contact_id,\n    user_id: $json.user_id,\n    caller_workflow_id: $json.caller_workflow_id,\n    caller_execution_id: $json.caller_execution_id\n  }, null, 2),\n  \"\",\n  \"CONTEXT_PACK (DB):\",\n  JSON.stringify($json.context_pack ?? {}, null, 2)\n].join(\"\\n\")\n}}\n",
        "options": {
          "maxIterations": 15,
          "systemMessage": "You are the HubSpot DEALS Agent.\n\nYour job:\n- Manage HubSpot deals: list, search, create, update, delete, associate.\n- Return ONLY valid JSON in the specified output schema.\n\nINPUTS YOU RECEIVE:\n- USER_REQUEST (plain text)\n- RUNTIME (json): includes tool_name, dry_run, ids\n- CONTEXT_PACK (json): database context if available\n\nHARD RULES:\n1) Always use tools for factual data. Do NOT guess.\n2) DRY RUN ENFORCEMENT:\n   - If runtime.dry_run is true: DO NOT call ANY write tools (Create, Update, Delete, Associate).\n   - If the user requests a write and dry_run=true: return a proposed plan + exact tool + payload, but do not execute.\n3) If a required argument is missing (ex: dealId, dealstage, pipeline), ask for it in errors[] and do not call the tool.\n\nAVAILABLE TOOLS (USE THESE NAMES EXACTLY):\nREAD OPERATIONS:\n- List All Deals - Get paginated list of all deals\n- Get Deal by ID - Get a specific deal by ID\n- Search Deals - Search deals with filters\n- List Deal Properties - Get all deal property definitions\n- Get Deal Pipelines - Get all deal pipelines and stages\n- Get Deal Associations - Get contacts/companies associated with a deal\n- Get Deal Property History - Get historical values of properties over time (uses HubSpot's native propertiesWithHistory) - great for tracking deal stage progression\n\nWRITE OPERATIONS (ONLY IF dry_run=false AND user explicitly requested):\n- Create Deal - Create a new deal (requires dealname, pipeline, dealstage)\n- Update Deal - Update deal properties\n- Delete Deal - Delete a deal\n- Associate Deal to Contact/Company - Link deal to other records\n\nINTER-AGENT TOOLS (Delegate to specialized agents):\n- Call Contacts Agent - Look up contact details, search contacts for a deal\n- Call Companies Agent - Look up company details, search companies for a deal\n- Call Engagements Agent - Log notes, create tasks, view activity history on deals\n\nCOMMON DEAL PROPERTIES:\n- dealname (required for create)\n- pipeline (required for create) \n- dealstage (required for create)\n- amount, closedate, hubspot_owner_id\n- ASM custom: asm_deal_quality_score, assigned_rep, demo_date, etc.\n\nOUTPUT FORMAT (RETURN JSON ONLY):\n{\n  \"summary\": \"short human summary\",\n  \"data\": { \"any\": \"tool results or extracted fields\" },\n  \"tool_calls\": [\n    { \"tool\": \"Tool Name\", \"arguments\": { } }\n  ],\n  \"errors\": [\n    { \"code\": \"MISSING_ARG|DRY_RUN_BLOCK|TOOL_ERROR\", \"message\": \"...\" }\n  ],\n  \"notes_to_save\": null\n}"
        },
        "promptType": "define"
      },
      "id": "agent-1",
      "name": "AI Agent - Deals",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        0
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "llm-1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "Lb7LQd5GQa1bZ9yX",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "session_id",
        "sessionIdType": "customKey"
      },
      "id": "memory-1",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        40,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/deals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "specifyQuery": "json",
        "options": {},
        "toolDescription": "List all deals from HubSpot. Returns paginated results. Use query params: limit, after, properties, associations."
      },
      "id": "tool-list-deals",
      "name": "List All Deals",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        160,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.dealId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "specifyQuery": "json",
        "options": {},
        "toolDescription": "Get a specific deal by ID. Include properties param to specify which properties to return."
      },
      "id": "tool-get-deal",
      "name": "Get Deal by ID",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        280,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "contentType": "json",
        "options": {},
        "toolDescription": "Search deals using filters. Body: {filterGroups: [{filters: [{propertyName, operator, value}]}], sorts, properties, limit, after}"
      },
      "id": "tool-search-deals",
      "name": "Search Deals",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        400,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/properties/deals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {},
        "toolDescription": "List all deal property definitions including custom properties."
      },
      "id": "tool-list-props",
      "name": "List Deal Properties",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        520,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/pipelines/deals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {},
        "toolDescription": "Get all deal pipelines and their stages. Essential for knowing valid dealstage values."
      },
      "id": "tool-pipelines",
      "name": "Get Deal Pipelines",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        640,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v4/objects/deals/{{ $json.dealId }}/associations/{{ $json.toObjectType || 'contacts' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "specifyQuery": "json",
        "options": {},
        "toolDescription": "Get associations for a deal. Specify dealId and toObjectType (contacts, companies, tickets, etc)."
      },
      "id": "tool-get-assoc",
      "name": "Get Deal Associations",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        760,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.dealId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{ JSON.stringify({ propertiesWithHistory: $json.properties || 'dealname,dealstage,pipeline,amount,closedate,hubspot_owner_id' }) }}",
        "options": {},
        "toolDescription": "Get PROPERTY HISTORY for a deal. Returns the historical values of specified properties showing how they changed over time. Specify dealId and properties (comma-separated list of property names to get history for). Common properties to track: dealname, dealstage, pipeline, amount, closedate, hubspot_owner_id. Returns each property's history with timestamp, value, sourceType, sourceId. Useful for tracking deal stage progression."
      },
      "id": "tool-get-property-history",
      "name": "Get Deal Property History",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        880,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "contentType": "json",
        "options": {},
        "toolDescription": "CREATE a new deal. Body: {properties: {dealname, pipeline, dealstage, amount, closedate, ...}}. WRITE OPERATION - respect dry_run."
      },
      "id": "tool-create-deal",
      "name": "Create Deal",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        160,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.dealId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "contentType": "json",
        "options": {},
        "toolDescription": "UPDATE a deal. Body: {properties: {key: value, ...}}. WRITE OPERATION - respect dry_run."
      },
      "id": "tool-update-deal",
      "name": "Update Deal",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        280,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.dealId || $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {},
        "toolDescription": "DELETE a deal by ID. DESTRUCTIVE WRITE OPERATION - respect dry_run."
      },
      "id": "tool-delete-deal",
      "name": "Delete Deal",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        400,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v4/objects/deals/{{ $json.dealId }}/associations/{{ $json.toObjectType || 'contacts' }}/{{ $json.toObjectId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "contentType": "json",
        "options": {},
        "toolDescription": "Associate a deal to a contact or company. WRITE OPERATION - respect dry_run."
      },
      "id": "tool-assoc-deal",
      "name": "Associate Deal to Contact/Company",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        520,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "name": "Call Contacts Agent",
        "description": "Call the HubSpot Contacts Agent to look up contact details, search contacts, or perform contact-related operations. Use when you need contact information for a deal.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "bX-PPv4n2Utwj1Mj7JHYR",
          "cachedResultName": "AI Agent - HubSpot Contacts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_id": "={{ $execution.id }}",
            "session_id": "={{ $json.session_id || '' }}",
            "chat_id": "={{ $json.chat_id || '' }}",
            "user_id": "={{ $json.user_id || '' }}",
            "user_message": "={{ $fromAI('request', 'What to ask the Contacts Agent') }}",
            "object_type": "contacts",
            "contact_id": "={{ $json.contact_id || '' }}",
            "company_id": "={{ $json.company_id || '' }}",
            "deal_id": "={{ $json.deal_id || '' }}",
            "conversation_id": "={{ $json.conversation_id || $execution.id }}",
            "dry_run": "={{ $json.dry_run ?? true }}",
            "caller_workflow_id": "={{ $workflow.id }}",
            "caller_execution_id": "={{ $execution.id }}",
            "tool_name": "hubspot.contacts"
          }
        }
      },
      "id": "tool-call-contacts",
      "name": "Call Contacts Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        640,
        360
      ]
    },
    {
      "parameters": {
        "name": "Call Companies Agent",
        "description": "Call the HubSpot Companies Agent to look up company details, search companies, or perform company-related operations. Use when you need company information for a deal.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "qH4NDSqFePk33A_MlzYcY",
          "cachedResultName": "AI Agent - HubSpot Companies"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_id": "={{ $execution.id }}",
            "session_id": "={{ $json.session_id || '' }}",
            "chat_id": "={{ $json.chat_id || '' }}",
            "user_id": "={{ $json.user_id || '' }}",
            "user_message": "={{ $fromAI('request', 'What to ask the Companies Agent') }}",
            "object_type": "companies",
            "contact_id": "={{ $json.contact_id || '' }}",
            "company_id": "={{ $json.company_id || '' }}",
            "deal_id": "={{ $json.deal_id || '' }}",
            "conversation_id": "={{ $json.conversation_id || $execution.id }}",
            "dry_run": "={{ $json.dry_run ?? true }}",
            "caller_workflow_id": "={{ $workflow.id }}",
            "caller_execution_id": "={{ $execution.id }}",
            "tool_name": "hubspot.companies"
          }
        }
      },
      "id": "tool-call-companies",
      "name": "Call Companies Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        760,
        360
      ]
    },
    {
      "parameters": {
        "name": "Call Engagements Agent",
        "description": "Call the HubSpot Engagements Agent to log notes, create tasks, view activity history, or manage communications on a deal. Use for activity logging and engagement tracking.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "N10BUVD9S-4ZyIsEtnKfp",
          "cachedResultName": "AI Agent - HubSpot Engagements"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_id": "={{ $execution.id }}",
            "session_id": "={{ $json.session_id || '' }}",
            "chat_id": "={{ $json.chat_id || '' }}",
            "user_id": "={{ $json.user_id || '' }}",
            "user_message": "={{ $fromAI('request', 'What to ask the Engagements Agent') }}",
            "object_type": "engagements",
            "contact_id": "={{ $json.contact_id || '' }}",
            "company_id": "={{ $json.company_id || '' }}",
            "deal_id": "={{ $json.deal_id || '' }}",
            "conversation_id": "={{ $json.conversation_id || $execution.id }}",
            "dry_run": "={{ $json.dry_run ?? true }}",
            "caller_workflow_id": "={{ $workflow.id }}",
            "caller_execution_id": "={{ $execution.id }}",
            "tool_name": "hubspot.engagements"
          }
        }
      },
      "id": "tool-call-engagements",
      "name": "Call Engagements Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        880,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Assemble Context Pack').first().json;\n\nconst started = Number(base._started_ms || Date.now());\nconst duration_ms = Math.max(0, Date.now() - started);\n\nlet agentRaw = $('AI Agent - Deals').first().json;\n\nconst coerceJson = (val) => {\n  if (val === null || val === undefined) return null;\n  if (typeof val === 'object') return val;\n  if (typeof val !== 'string') return { value: val };\n  const s = val.trim().replace(/^```json\\s*/i, '').replace(/```$/,'').trim();\n  try { return JSON.parse(s); } catch { return { raw: val }; }\n};\n\nconst agentOut = coerceJson(agentRaw.output ?? agentRaw.text ?? agentRaw);\n\nconst ok = !(agentOut?.errors && agentOut.errors.length);\n\nconst esc = (s) => String(s ?? '').replace(/'/g, \"''\");\n\nconst final = {\n  ok,\n  tool_name: base.tool_name,\n  tool_execution_id: base.tool_execution_id,\n  session_id: base.session_id,\n  conversation_id: base.conversation_id,\n  dry_run: base.dry_run,\n  summary: agentOut?.summary ?? (ok ? 'ok' : 'error'),\n  data: agentOut?.data ?? null,\n  tool_calls: agentOut?.tool_calls ?? [],\n  errors: agentOut?.errors ?? [],\n  notes_to_save: agentOut?.notes_to_save ?? null,\n  context_used: base.context_pack ?? {},\n  duration_ms\n};\n\nconst outJson = esc(JSON.stringify(final));\nconst errText = final.errors?.length ? esc(JSON.stringify(final.errors)) : null;\n\nfinal.log_end_sql = `\nUPDATE tool_execution_log\nSET\n  output_data = '${outJson}'::jsonb,\n  success = ${final.ok ? 'true' : 'false'},\n  error = ${errText ? `'${errText}'` : 'null'},\n  duration_ms = ${Number.isFinite(final.duration_ms) ? final.duration_ms : 'null'}\nWHERE id = '${esc(base.tool_execution_id)}'::uuid;\n`;\n\nconst note_scope = base.note_scope || 'hubspot';\nconst note_key = base.note_key || (base.deal_id ? `deal.${base.deal_id}` : 'deal.general');\n\nif (final.notes_to_save && typeof final.notes_to_save === 'string' && final.notes_to_save.trim() !== '') {\n  const noteObj = { text: final.notes_to_save.trim() };\n  const noteJson = esc(JSON.stringify(noteObj));\n  final.save_notes_sql = `\nINSERT INTO agent_notes (scope, note_key, note)\nVALUES ('${esc(note_scope)}', '${esc(note_key)}', '${noteJson}'::jsonb);\n`;\n}\n\nreturn [{ json: final }];"
      },
      "id": "parse-output-1",
      "name": "Parse + Finalize Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.log_end_sql}}",
        "options": {
          "queryReplacement": "={{ $json.log_end_params }}"
        }
      },
      "id": "log-end-1",
      "name": "Log End (tool_execution_log)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        640,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -800,
        -200
      ],
      "id": "chat-trigger-1",
      "name": "When chat message received",
      "webhookId": "deals-chat-test"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst chatText =\n  input.chatInput ||\n  input.message?.text ||\n  input.text ||\n  input.body?.message ||\n  input.body?.text ||\n  '';\n\nreturn [{\n  json: {\n    user_message: String(chatText || ''),\n    dry_run: true,\n    tool_name: 'hubspot.deals',\n    session_id: input.sessionId || input.session_id || 'chat_test',\n    conversation_id: input.conversationId || input.conversation_id || 'chat_test',\n    chat_id: input.chatId || input.chat_id || null,\n    user_id: input.userId || input.user_id || null,\n    request_id: input.request_id || null,\n    caller_workflow_id: input.caller_workflow_id || null,\n    caller_execution_id: input.caller_execution_id || null,\n    company_id: input.company_id || null,\n    contact_id: input.contact_id || null,\n    deal_id: input.deal_id || null,\n    hs_portal_id: input.hs_portal_id || null,\n    object_type: 'deals',\n    object_id: null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -200
      ],
      "id": "chat-normalize-1",
      "name": "Normalize Chat Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has_notes",
              "leftValue": "={{ $json.save_notes_sql }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        -120
      ],
      "id": "has-notes-1",
      "name": "Has Notes to Save?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.save_notes_sql}}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        -160
      ],
      "id": "save-notes-1",
      "name": "Save Agent Notes",
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize + Build SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Chat Input": {
      "main": [
        [
          {
            "node": "Normalize + Build SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize + Build SQL": {
      "main": [
        [
          {
            "node": "Log Start (tool_execution_log)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Start (tool_execution_log)": {
      "main": [
        [
          {
            "node": "Assemble Context Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Context": {
      "main": [
        [
          {
            "node": "Assemble Context Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Context Pack": {
      "main": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Deals": {
      "main": [
        [
          {
            "node": "Parse + Finalize Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Finalize Output": {
      "main": [
        [
          {
            "node": "Log End (tool_execution_log)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Notes to Save?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Notes to Save?": {
      "main": [
        [
          {
            "node": "Save Agent Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List All Deals": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal by ID": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Deals": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Deal Properties": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal Pipelines": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal Associations": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Deal Property History": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Deal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Deal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Deal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Associate Deal to Contact/Company": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call Contacts Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call Companies Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call Engagements Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Deals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "pinData": {}
}