AI_Agent_HubSpot_Deals_Enhanced.n8n.json
{
  "name": "AI Agent - HubSpot Deals (Enhanced)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {"name": "request_id", "type": "string"},
            {"name": "session_id", "type": "string"},
            {"name": "chat_id", "type": "string"},
            {"name": "user_id", "type": "string"},
            {"name": "user_message", "type": "string"},
            {"name": "object_type", "type": "string"},
            {"name": "object_id", "type": "string"},
            {"name": "company_id", "type": "string"},
            {"name": "contact_id", "type": "string"},
            {"name": "deal_id", "type": "string"},
            {"name": "caller_workflow_id", "type": "string"},
            {"name": "caller_execution_id", "type": "string"},
            {"name": "tool_name", "type": "string"},
            {"name": "dry_run", "type": "boolean"},
            {"name": "conversation_id", "type": "string"},
            {"name": "hs_portal_id", "type": "string"}
          ]
        }
      },
      "id": "trigger-1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-800, 0]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst tool_name = input.tool_name || 'hubspot.deals';\nconst dry_run = input.dry_run ?? true;\nconst q = v => v == null || v === '' ? null : String(v);\nconst note_scope = 'hubspot';\nconst note_key = input.deal_id ? `deal.${input.deal_id}` : 'deals.general';\nconst payload = {...input, tool_name, dry_run, note_scope, note_key, _started_ms: Date.now()};\nconst log_sql = `INSERT INTO tool_execution_log (tool_name, input_data, success, conversation_id, user_id, required_approval) VALUES ($1, $2::jsonb, false, $3, $4, $5) RETURNING id;`;\nconst ctx_sql = `SELECT jsonb_build_object('hubspot_deal', (SELECT to_jsonb(d) FROM hubspot_deals d WHERE d.id = $1 LIMIT 1), 'agent_notes', (SELECT COALESCE(jsonb_agg(n ORDER BY n.updated_at DESC), '[]'::jsonb) FROM agent_notes n WHERE n.scope = $2 AND n.note_key = $3 LIMIT 10)) AS context;`;\nreturn [{json: {...payload, log_start_sql: log_sql, log_start_params: [tool_name, JSON.stringify(payload), q(input.conversation_id), q(input.user_id), !dry_run], ctx_sql, ctx_params: [q(input.deal_id), note_scope, note_key]}}];"
      },
      "id": "normalize-1",
      "name": "Normalize + Build SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 0]
    },
    {"parameters": {"operation": "executeQuery", "query": "={{$json.log_start_sql}}", "options": {"queryReplacement": "={{ $json.log_start_params }}"}}, "id": "log-start-1", "name": "Log Start", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [-320, -80], "credentials": {"postgres": {"id": "BwXy2JHETe47vH1I", "name": "Postgres account 2"}}},
    {"parameters": {"operation": "executeQuery", "query": "={{$json.ctx_sql}}", "options": {"queryReplacement": "={{ $json.ctx_params }}"}}, "id": "load-context-1", "name": "Load Context", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [-320, 80], "credentials": {"postgres": {"id": "BwXy2JHETe47vH1I", "name": "Postgres account 2"}}},
    {"parameters": {"jsCode": "const base = $('Normalize + Build SQL').first().json;\nconst logStart = $('Log Start').first().json;\nconst ctxRows = $('Load Context').first().json;\nreturn [{json: {...base, tool_execution_id: logStart?.id || null, context_pack: ctxRows?.context || {}}}];"}, "id": "assemble-1", "name": "Assemble Context Pack", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-80, 0]},
    {
      "parameters": {
        "text": "={{ ['USER_REQUEST:', $json.user_message, 'RUNTIME:', JSON.stringify({tool_name: $json.tool_name, dry_run: $json.dry_run, deal_id: $json.deal_id}), 'CONTEXT_PACK:', JSON.stringify($json.context_pack)].join('\\n') }}",
        "options": {
          "maxIterations": 15,
          "systemMessage": "You are the HubSpot DEALS Agent.\n\nYour job:\n- Manage deal records in HubSpot CRM\n- Track deal pipelines and stages\n- Associate deals with contacts, companies, tickets\n- Perform bulk operations on deals\n\nAVAILABLE TOOLS:\n\nREAD OPERATIONS:\n- List All Deals - Get paginated list of deals\n- Get Deal by ID - Get single deal with properties\n- Search Deals - Search with filters\n- List Deal Properties - All property definitions\n- Get Deal Property - Single property definition\n- Get Deal Property History - Track changes over time\n- Get Deal Pipelines - All pipelines and stages\n- Get Deal Associations - Get linked records\n- Get Deal Association Labels - Association type labels\n- List Owners - Get all HubSpot owners\n\nBATCH OPERATIONS:\n- Batch Read Deals - Get multiple deals by ID\n- Batch Create Deals - Create multiple deals (WRITE)\n- Batch Update Deals - Update multiple deals (WRITE)\n- Batch Archive Deals - Archive multiple deals (WRITE)\n\nWRITE OPERATIONS:\n- Create Deal - Create single deal (WRITE)\n- Update Deal - Update single deal (WRITE)\n- Delete Deal - Delete single deal (WRITE)\n- Merge Deals - Merge two deals (WRITE)\n- Associate Deal - Link deal to record (WRITE)\n- Remove Deal Association - Unlink deal (WRITE)\n\nINTER-AGENT DELEGATION:\n- Call Contacts Agent - Contact operations\n- Call Companies Agent - Company operations\n- Call Tickets Agent - Ticket operations\n- Call Engagements Agent - Notes/tasks/activities\n\nOUTPUT FORMAT:\n{\"summary\": \"...\", \"data\": {}, \"errors\": []}"
        },
        "promptType": "define"
      },
      "id": "agent-1",
      "name": "AI Agent - Deals",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [160, 0],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {"parameters": {"model": {"__rl": true, "mode": "list", "value": "gpt-4o"}, "options": {}}, "id": "llm-1", "name": "OpenAI Chat Model", "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.3, "position": [-80, 200], "credentials": {"openAiApi": {"id": "Lb7LQd5GQa1bZ9yX", "name": "OpenAi account 4"}}},
    {"parameters": {"sessionKey": "session_id", "sessionIdType": "customKey"}, "id": "memory-1", "name": "Memory", "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow", "typeVersion": 1.3, "position": [40, 200]},
    {"parameters": {"url": "https://api.hubapi.com/crm/v3/objects/deals", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendQuery": true, "specifyQuery": "json", "options": {}, "toolDescription": "List all deals. Query: limit, after, properties, associations."}, "id": "tool-list-deals", "name": "List All Deals", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [160, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.dealId }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendQuery": true, "specifyQuery": "json", "options": {}, "toolDescription": "Get deal by ID with properties."}, "id": "tool-get-deal", "name": "Get Deal by ID", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [280, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "POST", "url": "https://api.hubapi.com/crm/v3/objects/deals/search", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "options": {}, "toolDescription": "Search deals. Body: {filterGroups, sorts, properties, limit}."}, "id": "tool-search-deals", "name": "Search Deals", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [400, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "https://api.hubapi.com/crm/v3/properties/deals", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "List all deal property definitions."}, "id": "tool-list-props", "name": "List Deal Properties", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [520, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "=https://api.hubapi.com/crm/v3/properties/deals/{{ $json.propertyName }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Get single deal property definition by name."}, "id": "tool-get-prop", "name": "Get Deal Property", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [640, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.dealId }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendQuery": true, "specifyQuery": "json", "jsonQuery": "={{ JSON.stringify({ propertiesWithHistory: $json.properties || 'dealname,dealstage,amount,closedate' }) }}", "options": {}, "toolDescription": "Get deal property history (changes over time). Params: dealId, properties (comma-separated)."}, "id": "tool-prop-history", "name": "Get Deal Property History", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [760, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "https://api.hubapi.com/crm/v3/pipelines/deals", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Get all deal pipelines and stages."}, "id": "tool-pipelines", "name": "Get Deal Pipelines", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [880, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "=https://api.hubapi.com/crm/v4/objects/deals/{{ $json.dealId }}/associations/{{ $json.toObjectType }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Get deal associations. Params: dealId, toObjectType (contacts/companies/tickets)."}, "id": "tool-get-assoc", "name": "Get Deal Associations", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [1000, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "=https://api.hubapi.com/crm/v4/associations/deals/{{ $json.toObjectType }}/labels", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Get association labels between deals and another object type."}, "id": "tool-assoc-labels", "name": "Get Deal Association Labels", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [1120, 200], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"url": "https://api.hubapi.com/crm/v3/owners", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendQuery": true, "specifyQuery": "json", "options": {}, "toolDescription": "List all HubSpot owners for assignment."}, "id": "tool-owners", "name": "List Owners", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [160, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "POST", "url": "https://api.hubapi.com/crm/v3/objects/deals/batch/read", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "options": {}, "toolDescription": "Batch read multiple deals. Body: {inputs: [{id: 'dealId'}], properties: ['dealname', 'amount', ...]}."}, "id": "tool-batch-read", "name": "Batch Read Deals", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [280, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "POST", "url": "https://api.hubapi.com/crm/v3/objects/deals", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "options": {}, "toolDescription": "Create deal. Body: {properties: {dealname, pipeline, dealstage, amount, ...}}. WRITE."}, "id": "tool-create-deal", "name": "Create Deal", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [400, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "PATCH", "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.dealId }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "options": {}, "toolDescription": "Update deal. Body: {properties: {...}}. WRITE."}, "id": "tool-update-deal", "name": "Update Deal", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [520, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "DELETE", "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.dealId }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Delete deal. WRITE."}, "id": "tool-delete-deal", "name": "Delete Deal", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [640, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "POST", "url": "https://api.hubapi.com/crm/v3/objects/deals/merge", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "options": {}, "toolDescription": "Merge two deals. Body: {primaryObjectId: 'keepDealId', objectIdToMerge: 'mergeDealId'}. WRITE."}, "id": "tool-merge", "name": "Merge Deals", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [760, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "PUT", "url": "=https://api.hubapi.com/crm/v4/objects/deals/{{ $json.dealId }}/associations/{{ $json.toObjectType }}/{{ $json.toObjectId }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "options": {}, "toolDescription": "Associate deal to another record. Body: [{associationCategory, associationTypeId}]. WRITE."}, "id": "tool-assoc-deal", "name": "Associate Deal", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [880, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "DELETE", "url": "=https://api.hubapi.com/crm/v4/objects/deals/{{ $json.dealId }}/associations/{{ $json.toObjectType }}/{{ $json.toObjectId }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}, "toolDescription": "Remove deal association. WRITE."}, "id": "tool-remove-assoc", "name": "Remove Deal Association", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [1000, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "POST", "url": "https://api.hubapi.com/crm/v3/objects/deals/batch/create", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "options": {}, "toolDescription": "Batch create deals. Body: {inputs: [{properties: {...}}, ...]}. WRITE."}, "id": "tool-batch-create", "name": "Batch Create Deals", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [1120, 360], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "POST", "url": "https://api.hubapi.com/crm/v3/objects/deals/batch/update", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "options": {}, "toolDescription": "Batch update deals. Body: {inputs: [{id, properties: {...}}, ...]}. WRITE."}, "id": "tool-batch-update", "name": "Batch Update Deals", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [160, 520], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"method": "POST", "url": "https://api.hubapi.com/crm/v3/objects/deals/batch/archive", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "options": {}, "toolDescription": "Batch archive deals. Body: {inputs: [{id: 'dealId'}, ...]}. WRITE."}, "id": "tool-batch-archive", "name": "Batch Archive Deals", "type": "n8n-nodes-base.httpRequestTool", "typeVersion": 4.3, "position": [280, 520], "credentials": {"httpHeaderAuth": {"id": "3GlzU3rx0tDPWf6R", "name": "HubSpot Private App - Full Access"}}},
    {"parameters": {"name": "Call Contacts Agent", "description": "Delegate to Contacts Agent for contact operations.", "workflowId": {"__rl": true, "mode": "list", "value": ""}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"user_message": "={{ $fromAI('request', 'What to ask the Contacts Agent') }}", "session_id": "={{ $json.session_id }}", "dry_run": "={{ $json.dry_run }}"}}}, "id": "tool-call-contacts", "name": "Call Contacts Agent", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.1, "position": [400, 520]},
    {"parameters": {"name": "Call Companies Agent", "description": "Delegate to Companies Agent for company operations.", "workflowId": {"__rl": true, "mode": "list", "value": ""}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"user_message": "={{ $fromAI('request', 'What to ask the Companies Agent') }}", "session_id": "={{ $json.session_id }}", "dry_run": "={{ $json.dry_run }}"}}}, "id": "tool-call-companies", "name": "Call Companies Agent", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.1, "position": [520, 520]},
    {"parameters": {"name": "Call Tickets Agent", "description": "Delegate to Tickets Agent for ticket operations linked to deals.", "workflowId": {"__rl": true, "mode": "list", "value": ""}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"user_message": "={{ $fromAI('request', 'What to ask the Tickets Agent') }}", "session_id": "={{ $json.session_id }}", "dry_run": "={{ $json.dry_run }}"}}}, "id": "tool-call-tickets", "name": "Call Tickets Agent", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.1, "position": [640, 520]},
    {"parameters": {"name": "Call Engagements Agent", "description": "Delegate to Engagements Agent for notes, tasks, activities on deals.", "workflowId": {"__rl": true, "mode": "list", "value": ""}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"user_message": "={{ $fromAI('request', 'What to ask the Engagements Agent') }}", "session_id": "={{ $json.session_id }}", "dry_run": "={{ $json.dry_run }}"}}}, "id": "tool-call-engagements", "name": "Call Engagements Agent", "type": "@n8n/n8n-nodes-langchain.toolWorkflow", "typeVersion": 2.1, "position": [760, 520]},
    {"parameters": {"jsCode": "const base = $('Assemble Context Pack').first().json;\nconst agentRaw = $('AI Agent - Deals').first().json;\nlet agentOut = {};\ntry { agentOut = typeof agentRaw.output === 'object' ? agentRaw.output : JSON.parse((agentRaw.output||'{}').replace(/^```json|```$/g,'')); } catch {}\nconst ok = !agentOut?.errors?.length;\nconst esc = s => String(s??'').replace(/'/g,\"''\");\nconst final = {ok, summary: agentOut?.summary || 'done', data: agentOut?.data, errors: agentOut?.errors || []};\nfinal.log_end_sql = `UPDATE tool_execution_log SET output_data = '${esc(JSON.stringify(final))}'::jsonb, success = ${ok} WHERE id = '${esc(base.tool_execution_id)}'::uuid;`;\nreturn [{json: final}];"}, "id": "parse-1", "name": "Parse Output", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [400, 0]},
    {"parameters": {"operation": "executeQuery", "query": "={{$json.log_end_sql}}", "options": {}}, "id": "log-end-1", "name": "Log End", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [640, 0], "credentials": {"postgres": {"id": "BwXy2JHETe47vH1I", "name": "Postgres account 2"}}, "onError": "continueRegularOutput"},
    {"parameters": {"options": {}}, "type": "@n8n/n8n-nodes-langchain.chatTrigger", "typeVersion": 1.4, "position": [-800, -200], "id": "chat-trigger-1", "name": "Chat Trigger", "webhookId": "deals-test"},
    {"parameters": {"jsCode": "return [{json: {user_message: $input.first().json.chatInput || '', dry_run: true, tool_name: 'hubspot.deals', session_id: 'test'}}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-560, -200], "id": "chat-norm", "name": "Normalize Chat"}
  ],
  "connections": {
    "When Executed by Another Workflow": {"main": [[{"node": "Normalize + Build SQL", "type": "main", "index": 0}]]},
    "Chat Trigger": {"main": [[{"node": "Normalize Chat", "type": "main", "index": 0}]]},
    "Normalize Chat": {"main": [[{"node": "Normalize + Build SQL", "type": "main", "index": 0}]]},
    "Normalize + Build SQL": {"main": [[{"node": "Log Start", "type": "main", "index": 0}, {"node": "Load Context", "type": "main", "index": 0}]]},
    "Log Start": {"main": [[{"node": "Assemble Context Pack", "type": "main", "index": 0}]]},
    "Load Context": {"main": [[{"node": "Assemble Context Pack", "type": "main", "index": 0}]]},
    "Assemble Context Pack": {"main": [[{"node": "AI Agent - Deals", "type": "main", "index": 0}]]},
    "AI Agent - Deals": {"main": [[{"node": "Parse Output", "type": "main", "index": 0}]]},
    "Parse Output": {"main": [[{"node": "Log End", "type": "main", "index": 0}]]},
    "OpenAI Chat Model": {"ai_languageModel": [[{"node": "AI Agent - Deals", "type": "ai_languageModel", "index": 0}]]},
    "Memory": {"ai_memory": [[{"node": "AI Agent - Deals", "type": "ai_memory", "index": 0}]]},
    "List All Deals": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Get Deal by ID": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Search Deals": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "List Deal Properties": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Get Deal Property": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Get Deal Property History": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Get Deal Pipelines": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Get Deal Associations": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Get Deal Association Labels": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "List Owners": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Batch Read Deals": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Create Deal": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Update Deal": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Delete Deal": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Merge Deals": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Associate Deal": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Remove Deal Association": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Batch Create Deals": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Batch Update Deals": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Batch Archive Deals": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Call Contacts Agent": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Call Companies Agent": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Call Tickets Agent": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]},
    "Call Engagements Agent": {"ai_tool": [[{"node": "AI Agent - Deals", "type": "ai_tool", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [],
  "pinData": {}
}
