hubspot-contact-enhanced
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \n[\n  \"USER_REQUEST:\",\n  ($json.user_message || \"\").toString(),\n  \"\",\n  \"RUNTIME:\",\n  JSON.stringify({\n    tool_name: $json.tool_name || \"hubspot.contacts\",\n    dry_run: $json.dry_run ?? false,\n    session_id: $json.session_id,\n    request_id: $json.request_id,\n    conversation_id: $json.conversation_id,\n    chat_id: $json.chat_id,\n    user_id: $json.user_id,\n    caller_workflow_id: $json.caller_workflow_id,\n    caller_execution_id: $json.caller_execution_id,\n    contact_id: $json.contact_id\n  }, null, 2),\n  \"\",\n  \"CONTEXT_PACK (DB - AutoShop Media Knowledge):\",\n  JSON.stringify($json.context_pack ?? {}, null, 2)\n].join(\"\\n\")\n}}\n",
        "options": {
          "systemMessage": "You are the HubSpot CONTACTS Agent for AutoShop Media.\n\nGoal: reliably answer contact-related questions by calling the correct HubSpot API tools. You must be accurate, deterministic, and brief.\n\nYou receive:\n- USER_REQUEST (text)\n- RUNTIME (json): { tool_name, dry_run, ids... }\n- CONTEXT_PACK (json): { hubspot_object, agent_notes, schema_cache }\n\nNON-NEGOTIABLE RULES\n1) TOOL-FIRST FACTS:\n   - If the answer depends on HubSpot data, you MUST call a tool.\n   - Never guess totals, property names, IDs, or associations.\n\n2) DRY RUN ENFORCEMENT:\n   - If runtime.dry_run === true: DO NOT call write tools (create/update/archive/merge/batch/associations/subscriptions).\n   - If the user requests a write while dry_run=true:\n     - Do NOT execute.\n     - Return errors[] with code \"DRY_RUN_BLOCK\"\n     - Include a proposed tool call + exact arguments you would use.\n\n3) ARGUMENTS FORMAT (CRITICAL FOR N8N TOOLS):\n   - Every tool call MUST include an \"arguments\" object (even if empty).\n   - Example: { \"tool\": \"Search Contacts\", \"arguments\": { \"limit\": 1 } }\n   - Do not invent other wrapper keys.\n\nTOOL SELECTION RULES (USE THESE, ALWAYS)\nA) COUNT / TOTAL QUESTIONS (MOST IMPORTANT):\n   - If user asks \"how many\", \"count\", \"total contacts\":\n     - ALWAYS call: \"Search Contacts\"\n     - Use arguments that produce a total with minimal payload:\n       { \"filterGroups\": [], \"limit\": 1 }\n     - Read and return: response.total\n   - NEVER use \"List All Contacts\" to answer totals (it is paginated and has no total).\n\nB) LISTING / BROWSING:\n   - If user asks to list contacts or show recent contacts:\n     - Use \"List All Contacts\" with limit (default 10–50).\n     - If they want “all”, you must paginate (use after cursor) and tell them you’ll page.\n\nC) FIND ONE CONTACT:\n   - By ID → \"Get Contact by ID\"\n   - By email → \"Get Contact by Email\" (requires email)\n\nD) FILTERED SEARCHES:\n   - Use \"Search Contacts\" when filters are needed (date ranges, lifecycle stage, owner, lead status, etc.)\n   - Use CONTEXT_PACK.schema_cache to confirm property names before filtering.\n   - If schema_cache is missing, call \"List Contact Properties\" first.\n\nE) ASSOCIATIONS:\n   - Use \"Get Contact Associations\" / labels tools only when asked, or when needed to answer a relationship question.\n\nF) SUBSCRIPTIONS:\n   - Only when explicitly asked about subscription status/preferences.\n\nMISSING INFO BEHAVIOR\n- If a required argument is missing (ex: email, contactId, propertyName):\n  - Return errors[] with code \"MISSING_ARG\"\n  - Ask for exactly what’s missing (one short sentence).\n\nOUTPUT REQUIREMENTS (JSON ONLY)\nReturn exactly:\n{\n  \"summary\": \"short human summary\",\n  \"data\": { \"any\": \"tool results or extracted fields\" },\n  \"tool_calls\": [\n    { \"tool\": \"Tool Name\", \"arguments\": { } }\n  ],\n  \"errors\": [\n    { \"code\": \"MISSING_ARG|DRY_RUN_BLOCK|TOOL_ERROR\", \"message\": \"...\" }\n  ],\n  \"notes_to_save\": \"optional short learning string or null\"\n}\n\nSTYLE\n- Be brief.\n- No extra explanations unless asked.\n- Prefer one tool call at a time unless pagination is explicitly required.\n",
          "maxIterations": 25
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1536,
        -480
      ],
      "id": "e2dc394e-8dc2-46fe-9814-219c403b71d4",
      "name": "AI Agent - Contacts",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "session_id"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1520,
        -288
      ],
      "id": "7ff42344-62ee-46cc-968d-8159308ed57c",
      "name": "Memory"
    },
    {
      "parameters": {
        "toolDescription": "List all contacts with pagination. Optional args: limit, after, properties (array), associations (array).",
        "url": "={{ (() => { const base = 'https://api.hubapi.com/crm/v3/objects/contacts'; const a = $json.params?.arguments || {}; const q = []; if (a.limit) q.push(`limit=${encodeURIComponent(a.limit)}`); if (a.after) q.push(`after=${encodeURIComponent(a.after)}`); if (a.properties && Array.isArray(a.properties)) q.push(`properties=${a.properties.join(',')}`); if (a.associations && Array.isArray(a.associations)) q.push(`associations=${a.associations.join(',')}`); return q.length ? `${base}?${q.join('&')}` : base; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -208,
        -128
      ],
      "id": "bea36abb-aadd-4b65-bd15-226d4bb46fbf",
      "name": "List All Contacts",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get a contact by ID. Args: contactId (required), properties (array), associations (array).",
        "url": "={{ (() => { const a = $json.params?.arguments || {}; const contactId = a.contactId; if (!contactId) return 'https://api.hubapi.com/crm/v3/objects/contacts/0'; const base = `https://api.hubapi.com/crm/v3/objects/contacts/${encodeURIComponent(contactId)}`; const q = []; if (a.properties && Array.isArray(a.properties)) q.push(`properties=${a.properties.join(',')}`); if (a.associations && Array.isArray(a.associations)) q.push(`associations=${a.associations.join(',')}`); return q.length ? `${base}?${q.join('&')}` : base; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -48,
        -128
      ],
      "id": "219f56a3-68ad-4e3e-86b2-e31734f587af",
      "name": "Get Contact by ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get a contact by email. Args: email (required), properties (array), associations (array).",
        "url": "={{ (() => {\n  const a = $json.params?.arguments || {};\n  const email = a.email;\n\n  // Force a hard fail if missing, instead of returning a list endpoint\n  if (!email) return 'https://api.hubapi.com/crm/v3/objects/contacts/0';\n\n  // HubSpot supports idProperty=email on the GET-by-id endpoint\n  const base = `https://api.hubapi.com/crm/v3/objects/contacts/${encodeURIComponent(email)}`;\n\n  const q = ['idProperty=email'];\n\n  if (a.properties && Array.isArray(a.properties)) q.push(`properties=${a.properties.join(',')}`);\n  if (a.associations && Array.isArray(a.associations)) q.push(`associations=${a.associations.join(',')}`);\n\n  return `${base}?${q.join('&')}`;\n})() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        256,
        -128
      ],
      "id": "d14cff5e-a87f-47f7-b7f2-54ffbb1711db",
      "name": "Get Contact by Email",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Search contacts with filters. Body: { filterGroups, sorts, query, properties, limit, after }.",
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const a = $json.params?.arguments;\n\n  // Base defaults: limit changed from 1 to 100 to get max results by default\n  const body = {\n    filterGroups: [],\n    limit: 100 \n  };\n\n  // If agent provided arguments, merge them on top\n  if (a && typeof a === 'object') {\n    for (const [k, v] of Object.entries(a)) {\n      if (v !== undefined) body[k] = v;\n    }\n  }\n\n  // Guarantee filterGroups is present and is an array\n  if (!Array.isArray(body.filterGroups)) body.filterGroups = [];\n\n  return body;\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        432,
        -128
      ],
      "id": "7c346361-243a-4032-bdc6-172b1c497efc",
      "name": "Search Contacts",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Create a contact. Body: { properties: {...} }.",
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('contact_data', 'Contact creation body with properties object', 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        592,
        -128
      ],
      "id": "5af6cbbf-30ae-4dcc-8f3e-fa1acb9f56eb",
      "name": "Create Contact",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Update a contact. Args: contactId. Body: { properties: {...} }.",
        "method": "PATCH",
        "url": "={{ (() => { const a = $json.params?.arguments || {}; const contactId = a.contactId; if (!contactId) return 'https://api.hubapi.com/crm/v3/objects/contacts/0'; return `https://api.hubapi.com/crm/v3/objects/contacts/${encodeURIComponent(contactId)}`; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('contact_update', 'Update body with properties object', 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        736,
        -128
      ],
      "id": "ca0a8ba0-9fca-4faa-9c26-65933c177438",
      "name": "Update Contact",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Archive (soft delete) a contact. Args: contactId.",
        "method": "DELETE",
        "url": "={{ (() => { const a = $json.params?.arguments || {}; const contactId = a.contactId; if (!contactId) return 'https://api.hubapi.com/crm/v3/objects/contacts/0'; return `https://api.hubapi.com/crm/v3/objects/contacts/${encodeURIComponent(contactId)}`; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        880,
        -128
      ],
      "id": "dab35a86-95f6-4a8e-ad42-5cd0cf764b9e",
      "name": "Archive Contact",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Batch read contacts. Body: { properties: [], inputs: [{ id }] }.",
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/batch/read",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('batch_read_request', 'Body with properties array and inputs array of {id}', 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1040,
        -128
      ],
      "id": "1bac905e-56ee-486d-b7c7-f6cfa625993e",
      "name": "Batch Read Contacts",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Batch create contacts. Body: { inputs: [{ properties: {...} }] }.",
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/batch/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('batch_create_request', 'Body with inputs array of {properties}', 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1200,
        -128
      ],
      "id": "14830d02-4bfb-4644-97a8-88218427e530",
      "name": "Batch Create Contacts",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Batch update contacts. Body: { inputs: [{ id, properties: {...} }] }.",
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/batch/update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('batch_update_request', 'Body with inputs array of {id, properties}', 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1360,
        -128
      ],
      "id": "7733396c-c49c-41c1-869e-8ff116000903",
      "name": "Batch Update Contacts",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Batch archive contacts. Body: { inputs: [{ id }] }.",
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/batch/archive",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('batch_archive_request', 'Body with inputs array of {id}', 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1520,
        -128
      ],
      "id": "f6a5ed51-b4ad-444c-bb28-d5376fee8322",
      "name": "Batch Archive Contacts",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Batch upsert contacts (create if not exists, update if exists). Body: { inputs: [{ properties: {...}, id }] }.",
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/batch/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('batch_upsert_request', 'Body with inputs array of {properties, id (optional)}', 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1680,
        -128
      ],
      "id": "6b9f86ac-e109-4491-87d9-f8a88b877314",
      "name": "Batch Upsert Contacts",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Merge two contacts. Args: primaryContactId. Body: { objectIdToMerge: secondaryContactId }.",
        "method": "POST",
        "url": "={{ (() => {\n  const a = $json.params?.arguments || {};\n  const secondaryContactId = a.secondaryContactId ?? $fromAI('secondaryContactId', 'ID of contact to merge into primary');\n\n  const idNum = Number(secondaryContactId);\n  return { objectIdToMerge: Number.isFinite(idNum) ? idNum : secondaryContactId };\n})() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { objectIdToMerge: $fromAI('secondaryContactId', 'ID of contact to merge into primary') } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1824,
        -128
      ],
      "id": "855c65ea-92df-404b-b5b9-108ca06d6495",
      "name": "Merge Contacts",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "List all contact properties (schema).",
        "url": "https://api.hubapi.com/crm/v3/properties/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        112,
        -128
      ],
      "id": "a0a455b0-d1a8-44ba-a980-885e27216d4f",
      "name": "List Contact Properties",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get a contact property definition. Args: propertyName.",
        "url": "={{ (() => { const a = $json.params?.arguments || {}; const propertyName = a.propertyName; if (!propertyName) return 'https://api.hubapi.com/crm/v3/properties/contacts/'; return `https://api.hubapi.com/crm/v3/properties/contacts/${encodeURIComponent(propertyName)}`; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        3056,
        -112
      ],
      "id": "b259853c-1daa-451a-8df5-f2415b07b054",
      "name": "Get Contact Property",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Create a contact property. Body: { groupName, name, label, type, fieldType, description }.",
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/properties/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('property_definition', 'Property definition: groupName, name, label, type, fieldType, description', 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        3200,
        -112
      ],
      "id": "ca706335-da73-4498-a6ce-b3e52309a355",
      "name": "Create Contact Property",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Update a contact property. Args: propertyName. Body: { label, description, groupName, options }.",
        "method": "PATCH",
        "url": "={{ (() => { const a = $json.params?.arguments || {}; const propertyName = a.propertyName; if (!propertyName) return 'https://api.hubapi.com/crm/v3/properties/contacts/'; return `https://api.hubapi.com/crm/v3/properties/contacts/${encodeURIComponent(propertyName)}`; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('property_update', 'Property updates: label, description, groupName, options', 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        3344,
        -112
      ],
      "id": "daba0f37-a40b-4ed8-9e06-44e1dc579360",
      "name": "Update Contact Property",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Archive a contact property. Args: propertyName.",
        "method": "DELETE",
        "url": "={{ (() => { const a = $json.params?.arguments || {}; const propertyName = a.propertyName; if (!propertyName) return 'https://api.hubapi.com/crm/v3/properties/contacts/'; return `https://api.hubapi.com/crm/v3/properties/contacts/${encodeURIComponent(propertyName)}`; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        3488,
        -112
      ],
      "id": "1c647f6c-57e9-40d5-b88f-ac511b99c10e",
      "name": "Archive Contact Property",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get contact associations to another object type. Args: contactId, toObjectType (deals|companies|tickets|etc).",
        "url": "={{ (() => { const a = $json.params?.arguments || {}; const contactId = a.contactId; const toObjectType = a.toObjectType || 'deals'; if (!contactId) return 'https://api.hubapi.com/crm/v4/objects/contacts/0/associations/deals'; return `https://api.hubapi.com/crm/v4/objects/contacts/${encodeURIComponent(contactId)}/associations/${encodeURIComponent(toObjectType)}`; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2192,
        -112
      ],
      "id": "85b15133-22b7-471a-8414-1ae9d4628e52",
      "name": "Get Contact Associations",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Create default association between contact and another object. Args: contactId, toObjectType, toObjectId.",
        "method": "PUT",
        "url": "={{ (() => { const a = $json.params?.arguments || {}; const contactId = a.contactId; const toObjectType = a.toObjectType || 'deals'; const toObjectId = a.toObjectId; if (!contactId || !toObjectId) return 'https://api.hubapi.com/crm/v4/objects/contacts/0/associations/default/deals/0'; return `https://api.hubapi.com/crm/v4/objects/contacts/${encodeURIComponent(contactId)}/associations/default/${encodeURIComponent(toObjectType)}/${encodeURIComponent(toObjectId)}`; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2912,
        -112
      ],
      "id": "e4092fb1-7fac-4eed-bb16-9f0d5769c15c",
      "name": "Create Contact Association",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Delete all associations between contact and another object. Args: contactId, toObjectType, toObjectId.",
        "method": "DELETE",
        "url": "={{ (() => { const a = $json.params?.arguments || {}; const contactId = a.contactId; const toObjectType = a.toObjectType || 'deals'; const toObjectId = a.toObjectId; if (!contactId || !toObjectId) return 'https://api.hubapi.com/crm/v4/objects/contacts/0/associations/deals/0'; return `https://api.hubapi.com/crm/v4/objects/contacts/${encodeURIComponent(contactId)}/associations/${encodeURIComponent(toObjectType)}/${encodeURIComponent(toObjectId)}`; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2768,
        -112
      ],
      "id": "6561dad7-61dd-43f3-8643-5ebc3daa0307",
      "name": "Delete Contact Association",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Batch create associations. Body: { inputs: [{ from: {id}, to: {id}, types: [{...}] }] }. Args: toObjectType.",
        "method": "POST",
        "url": "={{ (() => { const a = $json.params?.arguments || {}; const toObjectType = a.toObjectType || 'deals'; return `https://api.hubapi.com/crm/v4/associations/contacts/${encodeURIComponent(toObjectType)}/batch/create`; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('batch_association_create', 'Body with inputs array of {from: {id}, to: {id}, types: [{associationCategory, associationTypeId}]}', 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2624,
        -112
      ],
      "id": "192881f0-9c12-4f5f-ae74-d046918b701e",
      "name": "Batch Create Associations",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Batch archive associations. Body: { inputs: [{ from: {id}, to: {id}, types: [{...}] }] }. Args: toObjectType.",
        "method": "POST",
        "url": "={{ (() => { const a = $json.params?.arguments || {}; const toObjectType = a.toObjectType || 'deals'; return `https://api.hubapi.com/crm/v4/associations/contacts/${encodeURIComponent(toObjectType)}/batch/archive`; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('batch_association_archive', 'Body with inputs array of {from: {id}, to: {id}, types: [{associationCategory, associationTypeId}]}', 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2480,
        -112
      ],
      "id": "ff78cfd2-6b97-4d0e-82e2-6d1412e16050",
      "name": "Batch Archive Associations",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get association labels/types between contacts and another object type. Args: toObjectType.",
        "url": "={{ (() => { const a = $json.params?.arguments || {}; const toObjectType = a.toObjectType || 'deals'; return `https://api.hubapi.com/crm/v4/associations/contacts/${encodeURIComponent(toObjectType)}/labels`; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2336,
        -112
      ],
      "id": "f136a016-e798-455e-93a8-86abb04d3942",
      "name": "Get Contact Association Labels",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Get email subscription status for a contact. Args: email.",
        "url": "={{ (() => { const a = $json.params?.arguments || {}; const email = a.email; if (!email) return 'https://api.hubapi.com/communication-preferences/v3/status/email/test@test.com'; return `https://api.hubapi.com/communication-preferences/v3/status/email/${encodeURIComponent(email)}`; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1952,
        -128
      ],
      "id": "01fd5ed7-fd7e-488f-b5a0-7988f588f6e5",
      "name": "Get Email Subscriptions",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Update email subscription preferences. Args: email. Body: { subscriptionStatuses: [...] }.",
        "method": "POST",
        "url": "={{ (() => { const a = $json.params?.arguments || {}; const email = a.email; if (!email) return 'https://api.hubapi.com/communication-preferences/v3/subscribe'; return `https://api.hubapi.com/communication-preferences/v3/subscribe`; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('subscription_update', 'Body with emailAddress and subscriptionStatuses array', 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2080,
        -128
      ],
      "id": "46b296c8-81da-4db0-8bba-944e82b8e1e2",
      "name": "Update Email Subscriptions",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3GlzU3rx0tDPWf6R",
          "name": "HubSpot Private App - Full Access"
        }
      }
    },
    {
      "parameters": {
        "description": "Call the HubSpot Deals Agent to perform deal-related operations",
        "workflowId": "={{ 'AI Agent - HubSpot Deals Tools' }}",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_message": "={{ $fromAI('request', 'What to ask the Deals Agent') }}",
            "session_id": "={{ $json.session_id }}",
            "conversation_id": "={{ $json.conversation_id }}",
            "user_id": "={{ $json.user_id }}",
            "dry_run": "={{ $json.dry_run }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2080,
        -288
      ],
      "id": "0c637462-625f-4382-a9ab-c05cf4b87985",
      "name": "Call Deals Agent"
    },
    {
      "parameters": {
        "description": "Call the HubSpot Companies Agent to perform company-related operations",
        "workflowId": "={{ 'AI Agent - HubSpot Companies Tools' }}",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_message": "={{ $fromAI('request', 'What to ask the Companies Agent') }}",
            "session_id": "={{ $json.session_id }}",
            "conversation_id": "={{ $json.conversation_id }}",
            "user_id": "={{ $json.user_id }}",
            "dry_run": "={{ $json.dry_run }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1952,
        -288
      ],
      "id": "e6ac1532-909b-489e-b58e-42d067a06b90",
      "name": "Call Companies Agent"
    },
    {
      "parameters": {
        "description": "Call the HubSpot Tickets Agent to perform ticket-related operations",
        "workflowId": "={{ 'AI Agent - HubSpot Tickets Tools' }}",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_message": "={{ $fromAI('request', 'What to ask the Tickets Agent') }}",
            "session_id": "={{ $json.session_id }}",
            "conversation_id": "={{ $json.conversation_id }}",
            "user_id": "={{ $json.user_id }}",
            "dry_run": "={{ $json.dry_run }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1664,
        -288
      ],
      "id": "c39a3276-a71c-4fe0-be1c-3de04d195139",
      "name": "Call Tickets Agent"
    },
    {
      "parameters": {
        "description": "Call the HubSpot Lists Agent to manage list memberships",
        "workflowId": "={{ 'AI Agent - HubSpot Lists Tools' }}",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_message": "={{ $fromAI('request', 'What to ask the Lists Agent') }}",
            "session_id": "={{ $json.session_id }}",
            "conversation_id": "={{ $json.conversation_id }}",
            "user_id": "={{ $json.user_id }}",
            "dry_run": "={{ $json.dry_run }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1808,
        -288
      ],
      "id": "62de74ac-abb9-4ca1-a502-9d43664fc3a2",
      "name": "Call Lists Agent"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "request_id"
            },
            {
              "name": "session_id"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "user_id"
            },
            {
              "name": "user_message"
            },
            {
              "name": "contact_id"
            },
            {
              "name": "caller_workflow_id"
            },
            {
              "name": "caller_execution_id"
            },
            {
              "name": "tool_name"
            },
            {
              "name": "dry_run",
              "type": "boolean"
            },
            {
              "name": "conversation_id"
            },
            {
              "name": "hs_portal_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -688
      ],
      "id": "5853c8e5-a6ed-45fc-9748-a985d16cc7f7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst nowIso = new Date().toISOString();\nconst startedMs = Date.now();\n\nconst tool_name = input.tool_name || 'hubspot.contacts';\nconst dry_run = (input.dry_run === undefined || input.dry_run === null) ? true : !!input.dry_run;\n\nconst safeJson = (obj) => {\n  const s = JSON.stringify(obj ?? {});\n  return s.replace(/'/g, \"''\");\n};\n\nconst q = (v) => (v === undefined || v === null || v === '') ? null : String(v);\n\nconst qSql = (v) => {\n  const s = q(v);\n  if (s === null) return 'null';\n  return `'${s.replace(/'/g, \"''\")}'`;\n};\n\nconst nSql = (v) => {\n  if (v === undefined || v === null || v === '') return 'null';\n  const num = Number(v);\n  return Number.isFinite(num) ? String(num) : 'null';\n};\n\n// UUID-safe SQL literal (ONLY allow real UUIDs, else null)\nconst uuidSql = (v) => {\n  const s = (v ?? '').toString().trim();\n  const ok = /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(s);\n  return ok ? `'${s}'::uuid` : 'null';\n};\n\nconst note_scope = 'hubspot';\nconst note_key = input.contact_id ? `contact.${input.contact_id}` : 'contact.general';\n\nconst payload_for_log = {\n  ...input,\n  tool_name,\n  dry_run,\n  note_scope,\n  note_key,\n  started_at: nowIso,\n  _started_ms: startedMs\n};\n\nconst log_start_sql = `\nINSERT INTO tool_execution_log (\n  tool_name,\n  input_data,\n  success,\n  conversation_id,\n  user_id,\n  required_approval\n)\nVALUES (\n  ${qSql(tool_name)},\n  '${safeJson(payload_for_log)}'::jsonb,\n  false,\n  ${uuidSql(input.conversation_id)},\n  ${nSql(input.user_id)},\n  ${dry_run ? 'false' : 'true'}\n)\nRETURNING id;\n`;\n\nconst ctx_sql = `\nSELECT jsonb_build_object(\n  'hubspot_object', (\n    SELECT to_jsonb(h)\n    FROM hubspot_objects h\n    WHERE h.object_type = 'contact'\n      AND h.hs_object_id = ${qSql(input.contact_id)}\n    ORDER BY h.updated_at DESC\n    LIMIT 1\n  ),\n  'agent_notes', (\n    SELECT COALESCE(jsonb_agg(n ORDER BY n.updated_at DESC), '[]'::jsonb)\n    FROM agent_notes n\n    WHERE n.scope = ${qSql(note_scope)}\n      AND n.note_key = ${qSql(note_key)}\n    LIMIT 15\n  ),\n  'schema_cache', (\n    SELECT to_jsonb(s)\n    FROM hubspot_schema_cache s\n    WHERE s.portal_id = ${nSql(input.hs_portal_id)}\n      AND (s.object_type IS NULL OR s.object_type = 'contacts')\n    ORDER BY s.fetched_at DESC\n    LIMIT 1\n  )\n) AS context;\n`;\n\nreturn [{\n  json: {\n    ...payload_for_log,\n    log_start_sql,\n    ctx_sql\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -592
      ],
      "id": "a73fbe55-ae49-41ae-b90c-3673ef530066",
      "name": "Normalize + Build SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.log_start_sql}}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        624,
        -672
      ],
      "id": "8dadfe56-9313-4738-bba6-9c4d8c16569e",
      "name": "Log Start (tool_execution_log)",
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.ctx_sql}}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        624,
        -512
      ],
      "id": "fb2e1d40-7a80-49ff-87be-2b37e2bf587c",
      "name": "Load Context (AutoShop Media Knowledge)",
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        864,
        -608
      ],
      "id": "5b84d1f3-da66-4d3d-80eb-07d52f2be4fc",
      "name": "Merge Context"
    },
    {
      "parameters": {
        "jsCode": "const merged = $input.first().json;\n\nreturn [{\n  json: {\n    ...merged,\n    tool_execution_id: merged.id ?? null,\n    context_pack: merged.context ?? {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -592
      ],
      "id": "5703b852-184f-40da-9fc4-008fdd6ef850",
      "name": "Assemble Context Pack"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1856,
        -576
      ],
      "id": "3d4d8a2e-ac71-48da-b52e-79046861616b",
      "name": "Merge (post-agent)"
    },
    {
      "parameters": {
        "jsCode": "const merged = $input.first().json;\n\nconst started = Number(merged._started_ms || Date.now());\nconst duration_ms = Math.max(0, Date.now() - started);\n\n// Agent output can come in different keys depending on node behavior\nconst raw = merged.output ?? merged.text ?? merged;\n\nconst coerceJson = (val) => {\n  if (val === null || val === undefined) return null;\n  if (typeof val === 'object') return val;\n  if (typeof val !== 'string') return { value: val };\n\n  const s = val\n    .trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/```$/,'')\n    .trim();\n\n  try { return JSON.parse(s); } catch { return { raw: val }; }\n};\n\nconst agentOut = coerceJson(raw);\nconst ok = !(agentOut?.errors && agentOut.errors.length);\n\nconst final = {\n  ok,\n  tool_name: merged.tool_name,\n  tool_execution_id: merged.tool_execution_id,\n  session_id: merged.session_id,\n  conversation_id: merged.conversation_id,\n  dry_run: merged.dry_run,\n  summary: agentOut?.summary ?? (ok ? 'ok' : 'error'),\n  data: agentOut?.data ?? null,\n  tool_calls: agentOut?.tool_calls ?? [],\n  errors: agentOut?.errors ?? [],\n  notes_to_save: agentOut?.notes_to_save ?? null,\n  context_used: merged.context_pack ?? {},\n  duration_ms,\n};\n\nconst esc = (s) => String(s ?? '').replace(/'/g, \"''\");\n\nconst outJson = esc(JSON.stringify(final));\nconst errText = final.errors?.length ? esc(JSON.stringify(final.errors)) : null;\n\nfinal.log_end_sql = `\nUPDATE tool_execution_log\nSET\n  output_data = '${outJson}'::jsonb,\n  success = ${final.ok ? 'true' : 'false'},\n  error = ${errText ? `'${errText}'` : 'null'},\n  duration_ms = ${Number.isFinite(final.duration_ms) ? final.duration_ms : 'null'}\nWHERE id = '${esc(merged.tool_execution_id)}'::uuid;\n`;\n\n// Save agent notes if provided (MATCHES YOUR agent_notes SCHEMA: scope, note_key, note jsonb)\nconst note_scope = merged.note_scope || 'hubspot';\nconst note_key = merged.note_key || (merged.contact_id ? `contact.${merged.contact_id}` : 'contact.general');\n\nif (final.notes_to_save && typeof final.notes_to_save === 'string' && final.notes_to_save.trim() !== '') {\n  const noteObj = { text: final.notes_to_save.trim() };\n  const noteJson = esc(JSON.stringify(noteObj));\n\n  final.save_notes_sql = `\nINSERT INTO agent_notes (scope, note_key, note)\nVALUES ('${esc(note_scope)}', '${esc(note_key)}', '${noteJson}'::jsonb);\n`;\n}\n\nreturn [{ json: final }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        -576
      ],
      "id": "dd889989-c1d0-4a40-a443-14d955bbc65d",
      "name": "Parse + Finalize Output"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.log_end_sql}}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2352,
        -528
      ],
      "id": "cda1ef10-c0ab-42bc-b704-40f68e6efab8",
      "name": "Log End (tool_execution_log)",
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has_notes",
              "leftValue": "={{ $json.save_notes_sql }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2352,
        -672
      ],
      "id": "e6409f1a-2f1b-4c77-abb9-f7e01b825544",
      "name": "Has Notes to Save?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.save_notes_sql}}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2608,
        -688
      ],
      "id": "4ec45bd5-cd7f-4edd-837e-7c19bb40c388",
      "name": "Save Agent Notes",
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        -528
      ],
      "id": "f310eb0a-c2cd-4eed-ad9e-78a9d416f94d",
      "name": "When chat message received",
      "webhookId": "8ab59079-177d-47c0-8c26-8f9215a99af3"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// n8n chat trigger usually provides message content in one of these\nconst chatText =\n  input.chatInput ||\n  input.message?.text ||\n  input.text ||\n  input.body?.message ||\n  input.body?.text ||\n  '';\n\nreturn [{\n  json: {\n    // required by your agent + logging pipeline\n    user_message: String(chatText || ''),\n    dry_run: true,\n    tool_name: 'hubspot.contacts',\n\n    // keep these stable for memory + logs (safe defaults)\n    session_id: input.sessionId || input.session_id || 'chat_test',\n    conversation_id: input.conversationId || input.conversation_id || 'chat_test',\n    chat_id: input.chatId || input.chat_id || null,\n    user_id: input.userId || input.user_id || null,\n\n    // optional / usually unknown in chat tests\n    request_id: input.request_id || null,\n    caller_workflow_id: input.caller_workflow_id || null,\n    caller_execution_id: input.caller_execution_id || null,\n    contact_id: input.contact_id || null,\n    hs_portal_id: input.hs_portal_id || null,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -528
      ],
      "id": "33c34f49-74c1-4e8c-a135-69dc780edf0f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1376,
        -288
      ],
      "id": "6c9ed441-6fba-4e76-bf01-5030438aaddb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Lb7LQd5GQa1bZ9yX",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2960,
        -736
      ],
      "id": "451fa17d-1d9d-4de4-af5d-b0d258ff3b91",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Return ONLY the final tool payload to the calling workflow (main agent)\nreturn [{ json: $input.first().json }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        -816
      ],
      "id": "bcbb05a8-a5a6-4b59-a435-96bb20137a61",
      "name": "Return to Caller",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "AI Agent - Contacts": {
      "main": [
        [
          {
            "node": "Merge (post-agent)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List All Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact by ID": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact by Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Archive Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Batch Read Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Batch Create Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Batch Update Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Batch Archive Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Batch Upsert Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Contact Properties": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Property": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact Property": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact Property": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Archive Contact Property": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Associations": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact Association": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Contact Association": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Batch Create Associations": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Batch Archive Associations": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Association Labels": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Email Subscriptions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Email Subscriptions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call Deals Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call Companies Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call Tickets Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call Lists Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize + Build SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize + Build SQL": {
      "main": [
        [
          {
            "node": "Log Start (tool_execution_log)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Context (AutoShop Media Knowledge)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Context",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Log Start (tool_execution_log)": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Context (AutoShop Media Knowledge)": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Assemble Context Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Context Pack": {
      "main": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge (post-agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge (post-agent)": {
      "main": [
        [
          {
            "node": "Parse + Finalize Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Finalize Output": {
      "main": [
        [
          {
            "node": "Log End (tool_execution_log)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Notes to Save?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Return to Caller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log End (tool_execution_log)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Has Notes to Save?": {
      "main": [
        [
          {
            "node": "Save Agent Notes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save Agent Notes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Normalize + Build SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Contacts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Return to Caller": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d82e0d27c2a88970c7ba9693b6bad225f1d31f9cf0d392d33dd9cabf99f185f"
  }
}
