Jonah Main Agent (v1)
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  kill_switch,\n  comms_enabled,\n  write_enabled,\n  jobs_enabled,\n  external_comms_enabled,\n  system_state,\n  kill_switch_reason\nFROM agent_controls\nLIMIT 1;",
        "options": {}
      },
      "id": "a41c79f5-b5a7-4df8-b362-d804a70b7358",
      "name": "Check Controls",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1520,
        -48
      ],
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "kill",
              "leftValue": "={{ $json.controls.kill_switch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "30f8de59-af2a-4855-89d6-879d2381fb73",
      "name": "Kill Switch Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        -48
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ \n\"⚠️ GOD-MODE KILL SWITCH ACTIVE\\n\\nAll agent operations blocked.\\n\\nReason: \" \n+ ($json.controls.kill_switch_reason || \"Manual activation\") \n+ \"\\n\\nTo deactivate:\\n```sql\\nUPDATE agent_controls SET kill_switch = false;\\n```\"\n}}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_to_message_id": "={{ $json.message_id }}"
        }
      },
      "id": "ddcd71c3-5c46-4e4a-8fec-7a4787f191f8",
      "name": "Send Kill Switch Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -928,
        -160
      ],
      "webhookId": "b3bf062f-8dc2-4632-964b-2096445c8ae3",
      "credentials": {
        "telegramApi": {
          "id": "lnK3x3CBHsSqVAaT",
          "name": "GodModeJan2026"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT jsonb_build_object(\n  -- 1) SYSTEM CONTROLS\n  'controls', (SELECT row_to_json(ac) FROM agent_controls ac LIMIT 1),\n\n  -- 2) INCIDENTS (top 5 open)\n  'incidents', COALESCE((\n    SELECT json_agg(sub) FROM (\n      SELECT type, title, severity, description, created_at\n      FROM incidents\n      WHERE status = 'open'\n      ORDER BY created_at DESC\n      LIMIT 5\n    ) sub\n  ), '[]'::json),\n\n  -- 3) INTEGRATIONS (active)\n  'integrations', COALESCE((\n    SELECT json_agg(sub) FROM (\n      SELECT service_name, active, last_used_at\n      FROM universal_integrations\n      WHERE active = true\n      ORDER BY last_used_at DESC NULLS LAST\n    ) sub\n  ), '[]'::json),\n\n  -- 4) RECENT EXECUTION ERRORS (last 10)\n  'execution_errors', COALESCE((\n    SELECT json_agg(sub) FROM (\n      SELECT workflow_id, error_message, last_node, created_at\n      FROM workflow_execution_errors\n      ORDER BY created_at DESC\n      LIMIT 10\n    ) sub\n  ), '[]'::json),\n\n  -- 5) PENDING PROPOSALS (top 5)\n  'proposals', COALESCE((\n    SELECT json_agg(sub) FROM (\n      SELECT title, priority, confidence, created_at\n      FROM proposals\n      WHERE status = 'pending'\n      ORDER BY priority ASC, created_at DESC\n      LIMIT 5\n    ) sub\n  ), '[]'::json),\n\n  -- 6) CANONICAL MEMORY (last 15)\n  'canonical_memory', COALESCE((\n    SELECT json_agg(sub) FROM (\n      SELECT key, value, created_at\n      FROM memory_items\n      WHERE authority = 'canonical' AND status = 'active'\n      ORDER BY created_at DESC\n      LIMIT 15\n    ) sub\n  ), '[]'::json),\n\n  -- 7) USER PREFERENCES (most-used)\n  'user_context', (\n    SELECT row_to_json(up)\n    FROM user_preferences up\n    ORDER BY interaction_count DESC\n    LIMIT 1\n  ),\n\n  -- 8) FAST STATS (cheap + high-signal)\n  'stats', jsonb_build_object(\n    'open_incidents_count', COALESCE((SELECT COUNT(*) FROM incidents WHERE status = 'open'), 0),\n    'pending_proposals_count', COALESCE((SELECT COUNT(*) FROM proposals WHERE status = 'pending'), 0),\n    'active_integrations_count', COALESCE((SELECT COUNT(*) FROM universal_integrations WHERE active = true), 0),\n    'recent_errors_count_24h', COALESCE((SELECT COUNT(*) FROM workflow_execution_errors WHERE created_at >= NOW() - interval '24 hours'), 0)\n  )\n) AS full_context;",
        "options": {}
      },
      "id": "a38dc180-c98f-448c-af27-e3f563574007",
      "name": "Get System Context (DB)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -352,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  $1::BIGINT as chat_id,\n  COUNT(*) as total_messages,\n  -- Grabs the last 15 messages, formatted as \"Role: Content\"\n  COALESCE(\n    STRING_AGG(\n      UPPER(role) || ': ' || content, \n      E'\\n---\\n' ORDER BY created_at ASC\n    ),\n    ''\n  ) as recent_messages\nFROM (\n  SELECT role, content, created_at \n  FROM conversation_history \n  WHERE chat_id = $1::BIGINT \n  ORDER BY created_at DESC \n  LIMIT 15 -- Limit context to save tokens\n) sub;",
        "options": {
          "queryReplacement": "={{ [ $('Validate & Extract').item.json.chat_id ] }}"
        }
      },
      "id": "cfe59827-45d1-4e52-8a6f-fcf1c170eb4d",
      "name": "Get Recent Chat (DB)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -144,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "conversation_history",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Validate & Extract').item.json.user_id }}",
            "chat_id": "={{ $('Validate & Extract').item.json.chat_id }}",
            "role": "user",
            "content": "={{ $('Validate & Extract').item.json.user_message }}",
            "tool_calls": {},
            "message_id": "={{ $('Validate & Extract').item.json.message_id }}",
            "tokens_used": 0,
            "session_id": "={{ $('Validate & Extract').item.json.session_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tool_calls",
              "displayName": "tool_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "tool_results",
              "displayName": "tool_results",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tokens_used",
              "displayName": "tokens_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ceece6e4-1ce2-416b-b741-a139033562d2",
      "name": "Log User Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        272,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.supabase.com/mcp?project_ref=zgexrnpctugtwwssbkss&features=docs%2Caccount%2Cbranching%2Cfunctions%2Cdevelopment%2Cdebugging%2Cdatabase%2Cstorage",
        "authentication": "bearerAuth",
        "options": {}
      },
      "id": "4c19edef-57e8-4428-99fc-f6c8806e6eb7",
      "name": "MCP: Supabase",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        368,
        336
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "EMb3SbsCJMpRGko2",
          "name": "SupabaseMCPAuth"
        }
      }
    },
    {
      "parameters": {
        "description": "RAG Knowledge DB. Use for SOPs/workflows/tools without dumping tokens.",
        "workflowId": {
          "__rl": true,
          "value": "sESENzMSqQ6vpmjrWQwuN",
          "mode": "list",
          "cachedResultName": "🧠 RAG Knowledge Chat"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'Search query') }}",
            "session_id": "={{ $fromAI('session_id', 'Optional session id') }}"
          }
        }
      },
      "id": "5875bce0-e10b-4a37-a360-3ae34f0478d4",
      "name": "Tool: Knowledge DB (RAG)",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        208,
        336
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "0ad517d3-57a3-4e23-936f-8769fe378708",
      "name": "LLM (Main)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        928,
        304
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "Lb7LQd5GQa1bZ9yX",
          "name": "OpenAi account 4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Validate & Extract').item.json.chat_id }}",
        "text": "={{ $json.final_message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown",
          "reply_to_message_id": "=// Keep the ID for the DB, but hide it from Telegram if it's fake\n{{ $json.message_id >= 9000000 ? undefined : $json.message_id }}"
        }
      },
      "id": "09bed1d9-4aaa-4fda-949a-bdf04ce1b16a",
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1536,
        0
      ],
      "webhookId": "9758ddde-1528-4a1c-8a89-a0d0a038d5f1",
      "credentials": {
        "telegramApi": {
          "id": "lnK3x3CBHsSqVAaT",
          "name": "GodModeJan2026"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "conversation_history",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Validate & Extract').item.json.user_id }}",
            "chat_id": "={{ $('Validate & Extract').item.json.chat_id }}",
            "role": "assistant",
            "content": "={{ ($('Main Agent').item.json.output ?? '').toString() }}",
            "tool_calls": "={{ $('Main Agent').item.json.tool_calls }}",
            "message_id": "={{ $('Validate & Extract').item.json.message_id }}",
            "tokens_used": 0,
            "session_id": "={{ $('Validate & Extract').item.json.session_id }}",
            "created_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tool_calls",
              "displayName": "tool_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "tool_results",
              "displayName": "tool_results",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tokens_used",
              "displayName": "tokens_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "a15c0a9d-b167-44af-b3d4-f251b4945524",
      "name": "Log Assistant Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1344,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Validate & Extract').item.json.user_message }}",
        "options": {
          "systemMessage": "=You are the **INTAKE ARCHITECT & SYSTEM INVESTIGATOR**.\nYour goal is not just to \"reply,\" but to **Establish Truth** and **Engineer a Solution**.\n\n### 🧠 COGNITIVE PROTOCOL (THE \"DETECTIVE\" LOOP)\nBefore generating any JSON output, you must internally perform these steps:\n1.  **SAFETY CHECK:** Is the Kill Switch active? If YES, reject immediately.\n2.  **INTENT CLASSIFICATION:** Is this a *Fix* (Repair), a *Build* (Create), a *Query* (Info), or a *Modification* (Update)?\n3.  **EVIDENCE GATHERING (Crucial):**\n    * *User claims:* \"Workflow 123 is broken.\" -> *Your Action:* Call `n8n_list_workflows` or `n8n_executions` to confirm ID \"123\" exists and is actually failing.\n    * *User claims:* \"The database is slow.\" -> *Your Action:* Call `MCP: Supabase` -> `get_logs` or `get_advisors`.\n4.  **GAP ANALYSIS:** Do you have the `execution_id`, `workflow_id`, or `table_name`? If not, the Plan must include a step to find them first.\n\n### 🛠️ INVESTIGATION TOOLBOX (READ-ONLY MODE)\nYou have access to tools. Use them to **validate assumptions** before planning.\n* **MCP: n8n Operations**\n    * `n8n_list_workflows`: Filter by tags/names to find the REAL ID.\n    * `n8n_executions`: Check the last 5 runs to confirm failure status.\n    * `tools_documentation`: **MANDATORY** if the user asks for a complex node configuration. Look up the schema first.\n* **MCP: Supabase**\n    * `list_tables`: Never assume a table exists. Check the schema.\n    * `get_logs`: Check for recent system exceptions.\n\n### 📝 PLANNING STANDARDS (The \"Blueprint\")\nYour `execution_plan` must be granular.\n* ❌ Bad: \"Fix the error.\"\n* ✅ Good: \"1. Run `Execution Debugger` on ID 555. 2. Analyze JSON error. 3. Use `Auto-Fixer` on Workflow ABC.\"\n\n### 🛡️ ANTI-HALLUCINATION RULES\n1.  **No Ghost IDs:** Never output a Workflow ID or Execution ID unless you have seen it in a tool output or the Context.\n2.  **Confidence Scoring:**\n    * **0.9 - 1.0:** You verified the IDs and the error source.\n    * **0.5 - 0.8:** You found the Workflow, but not the specific Execution ID.\n    * **0.1 - 0.4:** User provided vague info (e.g., \"It's broken\") and you found nothing.\n\n### 🧠 DYNAMIC CONTEXT\n- **User Request:** \"{{ $('Validate & Extract').item.json.user_message }}\"\n- **System State:** {{ JSON.stringify($('Compile Agent Context').item.json.critical_state) }}\n\n### 📤 REQUIRED OUTPUT (STRICT JSON)\nReply with ONLY this JSON structure. No markdown formatting outside the JSON blocks.\n{\n  \"intent\": \"Summary of user intent\",\n  \"priority\": \"low | medium | high | critical\",\n  \"kill_switch_active\": {{ $('Validate & Extract').item.json.controls.kill_switch }},\n  \"confidence_score\": 0.0, // Be honest based on evidence found.\n  \"execution_plan\": [\n    \"Step 1: [Tool Name] - [Action] [ID/Param]\",\n    \"Step 2: [Tool Name] - [Action] [ID/Param]\"\n  ],\n  \"context_notes\": \"I have verified that Workflow [ID] exists and is active. I found [X] failed executions.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        80
      ],
      "id": "04f74230-44c4-4b14-a73b-d4247d90c5f1",
      "name": "Intake Agent",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Validate & Extract').item.json.user_message }}",
        "options": {
          "systemMessage": "=You are the **LEAD AUTOMATION ENGINEER**.\nYour goal is to execute the `execution_plan` provided by the Intake Agent using the **highest-level tool available**.\n\nJust use all the tools that you can and make sure that you try to really determine what I mean by the questioning and additional context, you have access to my postgres memory system as well, use it all. \n\n### 🛑 CRITICAL TOOL HIERARCHY (READ THIS FIRST)\nYou have access to \"Raw\" tools (MCP) and \"Specialized\" tools (Workflows).\n**You must ALWAYS attempt to use a Specialized Tool FIRST.**\n\n1. **PRIORITY 1: SPECIALIZED TOOLS (Use these 90% of the time)**\n   - To fix an error? Use `Auto-Fixer`.\n   - To check why a run failed? Use `Execution Debugger`.\n   - To create/edit workflows? Use `Workflow Builder` or `Workflow Updater`.\n   - To checking system health? Use `Health Monitor`.\n\n2. **PRIORITY 2: RAW MCP TOOLS (Fallback Only)**\n   - Only use `MCP: Supabase` or `MCP: n8n Operations` if the specialized tools above fail or return insufficient data.\n   - Do NOT use raw SQL if a tool exists for the job.\n\n### 🧠 EXECUTION PROTOCOL\n1. **Analyze the Plan:** Look at `{{ $json.execution_plan }}`.\n2. **Select Tool:** Match the plan step to a *Specialized Tool* from Priority 1.\n3. **Verify ID:** If the plan mentions an ID (Execution or Workflow), verify it matches the format in `context_notes`. Do not hallucinate IDs.\n4. **Loop Prevention:** If you have run a tool and it returned \"No results,\" **DO NOT RUN IT AGAIN.** Switch strategies or ask the user for clarification.\n\n### 🛡️ SAFETY & CONTEXT\n- **Kill Switch:** {{ $('Validate & Extract').item.json.controls.kill_switch }} (If true, STOP).\n- **Write Access:** {{ $('Validate & Extract').item.json.controls.write_enabled }} (If false, do not use Builder/Updater/SQL-Update).\n\n### 📝 RESPONSE FORMAT\nYou simply execute. If you need to speak to the user, output the final result text.",
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        944,
        80
      ],
      "id": "cac3fffe-14d2-4190-9346-26e3c76eaa50",
      "name": "Main Agent",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "endpointUrl": "https://api.n8n-mcp.com/mcp",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        704,
        448
      ],
      "id": "3adb229c-16ae-4ede-8cf2-24708041b407",
      "name": "MCP: n8n Operations",
      "credentials": {
        "httpBearerAuth": {
          "id": "vIK1oBw1xj0khNvy",
          "name": "n8n-mcp-BearerToken"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.supabase.com/mcp?project_ref=zgexrnpctugtwwssbkss&features=docs%2Caccount%2Cbranching%2Cfunctions%2Cdevelopment%2Cdebugging%2Cdatabase%2Cstorage",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        576,
        448
      ],
      "id": "ebade4e1-62eb-4be9-b56b-cd77b23c645b",
      "name": "MCP: Supabase (God-Mode DB)",
      "credentials": {
        "httpBearerAuth": {
          "id": "EMb3SbsCJMpRGko2",
          "name": "SupabaseMCPAuth"
        }
      }
    },
    {
      "parameters": {
        "description": "Surgically update specific nodes or connections in an existing workflow. Use this for targeted edits (e.g., changing a parameter, adding a node) without rewriting the entire workflow JSON.",
        "workflowId": {
          "__rl": true,
          "value": "xyf2aW6ZUK16WsgWhby0x",
          "mode": "list",
          "cachedResultUrl": "/workflow/xyf2aW6ZUK16WsgWhby0x",
          "cachedResultName": "✏️ Workflow Updater Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_id": "={{ $fromAI('workflow_id', 'Target workflow ID to update') }}",
            "workflow_name": "={{ $fromAI('workflow_name', 'Target workflow name (used if workflow_id missing)') }}",
            "action": "={{ $fromAI(   'action',   'Action to perform (add_node | update_node | remove_node | update_connection | update_settings)' ) }}",
            "changes": "={{ $fromAI(   'changes',   'JSON describing exact node-level changes (no rewrites)' ) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "changes",
              "displayName": "changes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        944,
        464
      ],
      "id": "a02fff89-dc90-4f8f-b2df-80842c018fb9",
      "name": "Workflow Updater"
    },
    {
      "parameters": {
        "description": "Audit a workflow for performance bottlenecks, cost issues, or reliability risks. It will return specific optimization suggestions and can apply fixes automatically if requested.",
        "workflowId": {
          "__rl": true,
          "value": "OBpYWGIz04j07vNgmn0dC",
          "mode": "list",
          "cachedResultUrl": "/workflow/OBpYWGIz04j07vNgmn0dC",
          "cachedResultName": "⚡ Workflow Optimizer Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "apply_changes": "={{ $fromAI('apply_changes', 'Apply optimizations immediately? true/false', 'boolean', false) }}",
            "optimization_type": "={{ $fromAI('optimization_type', 'full, structure, reliability, performance, cost', 'string', 'full') }}",
            "workflow_id": "={{ $fromAI('workflow_id', 'The ID of the workflow to optimize', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "optimization_type",
              "displayName": "optimization_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apply_changes",
              "displayName": "apply_changes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1264,
        464
      ],
      "id": "0e31629d-e162-4f96-b8d9-4b399310d89b",
      "name": "Workflow Optimizer"
    },
    {
      "parameters": {
        "description": "Deploy a completely new workflow or overwrite an existing one with full JSON. Use this when building from scratch or applying major structural changes. Always provide the full workflow JSON",
        "workflowId": {
          "__rl": true,
          "value": "h4MG3yGAca7PDPU1ys1GV",
          "mode": "list",
          "cachedResultUrl": "/workflow/h4MG3yGAca7PDPU1ys1GV",
          "cachedResultName": "🚀 Workflow Deployment Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_json": "={{ $fromAI('workflow_json', 'The JSON definition of the workflow', 'string') }}",
            "activate": "={{ $fromAI('activate', 'Activate workflow after deploy?', 'boolean', true) }}",
            "workflow_name": "={{ $fromAI('workflow_name', 'Name for the workflow', 'string', 'New Workflow') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_json",
              "displayName": "workflow_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "activate",
              "displayName": "activate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1104,
        464
      ],
      "id": "6131fcf2-1d51-49d7-8c6b-ff7ec0b60916",
      "name": "Workflow Deployer"
    },
    {
      "parameters": {
        "description": "Generate a complete n8n workflow JSON structure from scratch based on a user request. Use this when asked to 'create', 'build', or 'design' a new automation. It produces the JSON but does not deploy it.",
        "workflowId": {
          "__rl": true,
          "value": "Xf24pNABaHYMjcuPiLMpJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/Xf24pNABaHYMjcuPiLMpJ",
          "cachedResultName": "🏗️ Ultimate Workflow Builder v2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "description": "={{ $fromAI('description', 'What should the workflow do?') }}",
            "workflow_type": "={{ $fromAI('workflow_type', 'general | enrichment | scraping | comms | ops | etc') }}",
            "required_services": "={{ $fromAI('required_services', 'Comma-separated services/APIs (e.g. supabase, hubspot, hunter)') }}",
            "optimization_level": "={{ $fromAI('optimization_level', 'speed | cost | balanced | reliability') }}",
            "mode": "={{ $fromAI('mode', 'create | update') }}",
            "existing_workflow_id": "={{ $fromAI('existing_workflow_id', 'Workflow ID if mode=update') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "workflow_type",
              "displayName": "workflow_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "required_services",
              "displayName": "required_services",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "optimization_level",
              "displayName": "optimization_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "existing_workflow_id",
              "displayName": "existing_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1120,
        592
      ],
      "id": "7e5c33a1-7f74-4ac1-84c7-de1590302e43",
      "name": "Workflow Builder"
    },
    {
      "parameters": {
        "description": "Retrieve operational metrics (execution counts, failure rates, active status) for workflows over a specific time range. Use this to check system stability or identify 'flaky' workflows.",
        "workflowId": {
          "__rl": true,
          "value": "TH4_ydlstABdOI7nKvoCH",
          "mode": "list",
          "cachedResultUrl": "/workflow/TH4_ydlstABdOI7nKvoCH",
          "cachedResultName": "🏥 Workflow Health Monitor Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "time_range_hours": "={{ $fromAI('time_range_hours', 'Lookback period in hours', 'number', 24) }}",
            "monitor_type": "={{ $fromAI('monitor_type', 'all or specific', 'string', 'all') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "monitor_type",
              "displayName": "monitor_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "time_range_hours",
              "displayName": "time_range_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1584,
        480
      ],
      "id": "b3d3dfdd-a2d7-48e7-9a0e-7a70e2ccd443",
      "name": "Health Monitor"
    },
    {
      "parameters": {
        "description": "Fetch detailed logs and error stacks from a specific execution ID. Use this FIRST when diagnosing a crash to understand exactly which node failed and why.",
        "workflowId": {
          "__rl": true,
          "value": "yyY3SS0xgjNNqA8lC1j6P",
          "mode": "list",
          "cachedResultUrl": "/workflow/yyY3SS0xgjNNqA8lC1j6P",
          "cachedResultName": "🔍 Execution Debugger Tool (Final)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "execution_id": "={{ $fromAI('execution_id', 'n8n execution ID') }}",
            "analysis_depth": "={{ $fromAI('analysis_depth', 'shallow|normal|deep') || 'normal' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "analysis_depth",
              "displayName": "analysis_depth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        960,
        592
      ],
      "id": "9350fba0-fcf6-46bf-9a91-5e24bf0450d7",
      "name": "Execution Debugger"
    },
    {
      "parameters": {
        "description": "Analyze and repair a failed workflow execution. Requires a valid workflow_id, execution_id, and issue_type. Use this when you detect specific errors like credentials, timeouts, or data parsing issues.",
        "workflowId": {
          "__rl": true,
          "value": "gQ1llEB74saEh7RXWcxG7",
          "mode": "list",
          "cachedResultUrl": "/workflow/gQ1llEB74saEh7RXWcxG7",
          "cachedResultName": "🔧 Auto-Fixer Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_id": "={{ $fromAI('workflow_id', 'ID of the failing workflow', 'string') }}",
            "execution_id": "={{ $fromAI('execution_id', 'ID of the failed execution', 'string') }}",
            "issue_type": "={{ $fromAI('issue_type', 'Type of error (e.g. CREDENTIAL_ERROR)', 'string') }}",
            "error_details": "={{ $fromAI('error_details', 'Object containing error info', 'string', '{}') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "issue_type",
              "displayName": "issue_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_details",
              "displayName": "error_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        816,
        464
      ],
      "id": "f84d809e-0920-46f9-a85c-47f405fc5a34",
      "name": "Auto-Fixer"
    },
    {
      "parameters": {
        "description": "Design configurations for HTTP Request nodes to connect with external APIs (HubSpot, Salesmsg, etc.). Use this to figure out authentication, pagination, and headers for services that don't have dedicated tools.",
        "workflowId": {
          "__rl": true,
          "value": "OdswzJSjDlUwfu6j0r9e8",
          "mode": "list",
          "cachedResultUrl": "/workflow/OdswzJSjDlUwfu6j0r9e8",
          "cachedResultName": "🌐 Universal Integration Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parameters",
              "displayName": "parameters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1280,
        592
      ],
      "id": "b645a62c-eacb-44cf-9e59-26573afa1d50",
      "name": "Universal Integration"
    },
    {
      "parameters": {
        "description": "=Generate precise n8n JavaScript expressions (e.g. {{ $json.field }}) to map data between nodes. Use this when you need to transform data, format dates, or extract specific values from previous steps.",
        "workflowId": {
          "__rl": true,
          "value": "A5EE9a76e5F70Od52yKuH",
          "mode": "list",
          "cachedResultUrl": "/workflow/A5EE9a76e5F70Od52yKuH",
          "cachedResultName": "🎯 Expression Builder Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task": "={{ $fromAI('task','What expression do you need? (exact field + desired output)') }}",
            "context": "={{ $fromAI('context','Relevant node names + where the data lives (e.g. $json.foo, node outputs)') }}",
            "data_structure": "={{ $fromAI('data_structure','Example input JSON shape (1 item) + expected output shape') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data_structure",
              "displayName": "data_structure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1424,
        464
      ],
      "id": "5bdcdf16-9f1f-44a4-b1cb-02f7587c3b3f",
      "name": "Expression Builder"
    },
    {
      "parameters": {
        "description": "Write complex JavaScript or Python logic for n8n Code nodes. Use this for advanced data manipulation, loops, regex, or algorithms that standard nodes cannot handle.",
        "workflowId": {
          "__rl": true,
          "value": "CYH6WIpuzCPh_rQP463_F",
          "mode": "list",
          "cachedResultUrl": "/workflow/CYH6WIpuzCPh_rQP463_F",
          "cachedResultName": "💻 Code Generator Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task": "={{ $fromAI('task', 'What code do you need?') || $json.task || '' }}",
            "code_type": "={{ $fromAI('code_type', 'javascript | python') || $json.code_type || 'javascript' }}",
            "context": "={{ $fromAI('context', 'Input shape + desired output + constraints') || $json.context || (typeof $json === 'object' ? JSON.stringify($json) : $json) || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "code_type",
              "displayName": "code_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1424,
        592
      ],
      "id": "0c607500-1016-488d-acfb-b05be5154b52",
      "name": "Code Generator"
    },
    {
      "parameters": {
        "description": "Lookup the required fields (schema) for a specific credential type. Use this when debugging authentication errors or when you need to know which API keys/secrets are needed for a service.",
        "workflowId": {
          "__rl": true,
          "value": "sT1JIYqWfIb-5a53SX2Fx",
          "mode": "list",
          "cachedResultUrl": "/workflow/sT1JIYqWfIb-5a53SX2Fx",
          "cachedResultName": "Agent Tool – Credential Schema Inspector"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "credential_type": "={{ $fromAI('credential_type', 'The name of the credential or node type to inspect (e.g. telegramApi, postgres)') }}"
          },
          "matchingColumns": [
            "credential_type"
          ],
          "schema": [
            {
              "id": "credential_type",
              "displayName": "credential_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1584,
        592
      ],
      "id": "39318752-1140-46dc-b340-e35aefdb7b87",
      "name": "Credential Inspector"
    },
    {
      "parameters": {
        "description": "Send a notification to the user (Telegram/System). Use this to report success, ask for clarification, or alert about errors. Do NOT use for general chit-chat; only for status updates.",
        "workflowId": {
          "__rl": true,
          "value": "Vjy0lzwAXu00n3IXmNYsk",
          "mode": "list",
          "cachedResultUrl": "/workflow/Vjy0lzwAXu00n3IXmNYsk",
          "cachedResultName": "Agent Tool – Send Message (Guarded)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body": "={{ $fromAI('message', 'The content of the message') }}",
            "title": "={{ $fromAI('title', 'Optional title', 'string', 'System Alert') }}",
            "severity": "={{ $fromAI('severity', 'INFO, WARN, SEV1', 'string', 'INFO') }}",
            "recipient": "={{ { telegramChatId: $fromAI('to', 'Chat ID') } }}",
            "channelOverride": "={{ $fromAI('channel', 'telegram') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "severity",
              "displayName": "severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "recipient",
              "displayName": "recipient",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "requiresApproval",
              "displayName": "requiresApproval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": true
            },
            {
              "id": "approvalToken",
              "displayName": "approvalToken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "channelOverride",
              "displayName": "channelOverride",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        816,
        592
      ],
      "id": "a29f67e5-ca05-4a13-a911-01455735722a",
      "name": "Send Message (Guarded)"
    },
    {
      "parameters": {
        "description": "Search the internal knowledge base for SOPs, documentation, and business context. Use this BEFORE answering questions about 'how to' do something or to understand specific business rules.",
        "workflowId": {
          "__rl": true,
          "value": "sESENzMSqQ6vpmjrWQwuN",
          "mode": "list",
          "cachedResultUrl": "/workflow/sESENzMSqQ6vpmjrWQwuN",
          "cachedResultName": "🧠 RAG Knowledge Chat (Conversational) v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'Search query') }}",
            "session_id": "={{ $fromAI('session_id', 'Optional session id') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1744,
        592
      ],
      "id": "1d47dfd8-c9b2-4555-9146-c76654fe90a1",
      "name": "Tool: Knowledge DB (RAG)1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1744,
        -96
      ],
      "id": "7d7ecabd-4092-4c51-9313-252882a2ffc9",
      "name": "Telegram Trigger",
      "webhookId": "52a3a282-36b9-4053-b4ed-0b20e17c84c2",
      "credentials": {
        "telegramApi": {
          "id": "lnK3x3CBHsSqVAaT",
          "name": "GodModeJan2026"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        336
      ],
      "id": "09961e4f-3ed6-4831-bf5e-739d0989668a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "k7o7AgCLGREP3jWo",
          "name": "Google Gemini Chat API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Telegram Formatter v3 (Auto-Splitter)\n// - Preserves code blocks where possible\n// - Splits long messages into multiple chunks (Page 1, Page 2...)\n// - Escapes Telegram Markdown special chars\n\nlet rawOutput = $input.item?.json?.output ?? $input.item?.json?.text ?? $input.item?.json;\n\nif (rawOutput === undefined || rawOutput === null) rawOutput = '';\nif (typeof rawOutput !== 'string') rawOutput = JSON.stringify(rawOutput, null, 2);\n\n// --- 1. PROTECT & FORMAT (Existing Logic) ---\n\n// Split by fenced code blocks to avoid escaping inside them\nconst parts = rawOutput.split(/```([\\s\\S]*?)```/g); \n\nfunction protectUrls(text) {\n  const urls = [];\n  const protectedText = text.replace(/https?:\\/\\/[^\\s)]+/g, (m) => {\n    const key = `__URL_${urls.length}__`;\n    urls.push(m);\n    return key;\n  });\n  return { protectedText, urls };\n}\n\nfunction restoreUrls(text, urls) {\n  let out = text;\n  urls.forEach((u, i) => {\n    out = out.replace(`__URL_${i}__`, u);\n  });\n  return out;\n}\n\nfunction escapeMarkdown(text) {\n  let t = text.replace(/\\\\/g, '\\\\\\\\');\n  t = t.replace(/_/g, '\\\\_');\n  t = t.replace(/\\*/g, '\\\\*');\n  t = t.replace(/`/g, '\\\\`');\n  t = t.replace(/\\[/g, '\\\\[');\n  t = t.replace(/\\]/g, '\\\\]');\n  return t;\n}\n\nlet fullMessage = '';\n\nfor (let i = 0; i < parts.length; i++) {\n  const isCode = i % 2 === 1;\n  if (isCode) {\n    // keep code untouched\n    fullMessage += '```' + parts[i] + '```';\n  } else {\n    const { protectedText, urls } = protectUrls(parts[i]);\n    const escaped = escapeMarkdown(protectedText);\n    fullMessage += restoreUrls(escaped, urls);\n  }\n}\n\n// --- 2. SPLIT LOGIC (The Fix) ---\n\nconst MAX_LENGTH = 4000; // Safe limit (Telegram max is 4096)\nconst outputItems = [];\n\nif (fullMessage.length <= MAX_LENGTH) {\n    // If it fits, send as one message\n    outputItems.push({ json: { final_message: fullMessage } });\n} else {\n    // If too big, chop it into chunks\n    let remaining = fullMessage;\n    let page = 1;\n    \n    while (remaining.length > 0) {\n        let chunk = remaining.slice(0, MAX_LENGTH);\n        remaining = remaining.slice(MAX_LENGTH);\n        \n        // Optional: Add (1/3) paging indicators if you want\n        // chunk += `\\n[Part ${page}]`; \n        \n        outputItems.push({ json: { final_message: chunk } });\n        page++;\n    }\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ],
      "id": "8bcc5bb9-bbc3-418f-9f1d-f62ca2442e80",
      "name": "Telegram Formatter"
    },
    {
      "parameters": {
        "description": "Use this tool to plan, reason, or analyze data internally before taking external actions. Input is your thought process."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1040,
        304
      ],
      "id": "389a2562-83c9-4824-a411-41b821ddf108",
      "name": "Think"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: \"text-embedding-3-small\",\n  input: $(\"Validate & Extract\").item.json.user_message\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -928,
        80
      ],
      "id": "0aebf4d7-c7de-4a83-957c-99dd37585e05",
      "name": "Create Embedding (HTTP)",
      "credentials": {
        "openAiApi": {
          "id": "Lb7LQd5GQa1bZ9yX",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * \nFROM match_learning_examples(\n  $1::vector,\n  0.80,\n  3\n);",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.data[0].embedding) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -720,
        80
      ],
      "id": "25a648c6-0fe6-48c2-8619-9ac2ede135f5",
      "name": "Recall Similar Lessons",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const memories = $input.all();\n\nif (!memories || memories.length === 0) {\n  return [{ json: { memory_context: \"No relevant past lessons found.\" } }];\n}\n\nconst text = memories.map((m, i) => {\n  const item = m.json || {};\n  const ts = item.created_at || item.createdAt || \"\";\n  const title = item.title || item.summary || `Lesson ${i + 1}`;\n  const ctx = item.context || item.input || \"\";\n  const out = item.output || item.result || \"\";\n  const lesson = item.lesson || item.takeaway || item.learning || \"\";\n\n  return [\n    `### Memory ${i + 1}: ${title}`,\n    ts ? `Timestamp: ${ts}` : null,\n    ctx ? `Context: ${ctx}` : null,\n    out ? `Outcome: ${out}` : null,\n    lesson ? `Lesson: ${lesson}` : null,\n  ].filter(Boolean).join('\\n');\n}).join('\\n\\n');\n\nreturn [{ json: { memory_context: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        80
      ],
      "id": "bec17dec-266f-48b4-8dc7-b94e418580b2",
      "name": "Format Memory"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hYG3x2Jhp0iqCovjVaCDM",
          "mode": "list",
          "cachedResultUrl": "/workflow/hYG3x2Jhp0iqCovjVaCDM",
          "cachedResultName": "Sub-Workflow: Agent Reflection"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_input": "={{ $('Validate & Extract').item.json.user_message }}",
            "final_output": "={{ $('Telegram Formatter').item.json.final_message }}",
            "was_successful": "={{ $('Main Agent').item.json.output ? 'true' : 'false' }}",
            "predicted_confidence": "={{ ($('Parse Intake Plan').item.json.confidence_score || 0.5).toString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_input",
              "displayName": "user_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "was_successful",
              "displayName": "was_successful",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "predicted_confidence",
              "displayName": "predicted_confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1744,
        0
      ],
      "id": "802930f6-dab0-44e8-919a-b11ae04a6034",
      "name": "Execute Reflection"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw text output from the Intake Agent\n// The agent usually returns a stringified JSON object in the 'output' field\nconst rawText = $input.item.json.output || \"{}\";\n\n// 2. Clean the text\n// Remove Markdown code block markers (```json and ```) if the AI added them\nconst cleanJson = rawText.replace(/```json|```/g, '').trim();\n\n// 3. Parse and Return\ntry {\n  // Turn the string into a real Object so the Main Agent can read it\n  const parsed = JSON.parse(cleanJson);\n  return [{ json: parsed }];\n} catch (e) {\n  // If parsing fails, pass the raw text along with an error flag so it doesn't crash\n  return [{\n    json: {\n      error: \"Failed to parse JSON plan\",\n      raw_output: rawText,\n      // Keep the original properties just in case\n      ...$input.item.json\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        80
      ],
      "id": "de6da3a3-db50-4cc8-81e7-459afdcec28a",
      "name": "Parse Intake Plan"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agent_metacognition (\n  session_id, \n  user_intent, \n  task_type, \n  tools_used, \n  predicted_confidence, \n  actual_outcome_score, \n  reflection_notes\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7\n);",
        "options": {
          "queryReplacement": "={{ [\n  $('Validate & Extract').item.json.session_id,\n  $('Intake Agent').item.json.intent || '',\n  $('Intake Agent').item.json.priority || 'medium',\n  JSON.stringify($('Main Agent').item.json.tool_calls || []),\n  $('Intake Agent').item.json.confidence_score || 0.5,\n  $('Execute Reflection').item.json.success_score || ($('Main Agent').item.json.output ? 1.0 : 0.0),\n  $('Execute Reflection').item.json.reflection_text || 'No reflection generated'\n] }}",
          "treatQueryParametersInSingleQuotesAsText": false
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1952,
        0
      ],
      "id": "37760123-a162-455f-b826-3bd29ffcf8d4",
      "name": "Save Metacoginition",
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_message"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1744,
        80
      ],
      "id": "4ab8d6ad-cbef-456a-b631-0c798a238805",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sessionId"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        576,
        592
      ],
      "id": "39d19750-5e46-4f17-98a0-36e4fd0165b8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to search for more official documentation on AutoShop Media information and SOPs and different tools that I use. Think of it like a more refined Postgres system.",
        "operation": "search",
        "text": "={{ $json.notionSearchText || ' ' }}",
        "returnAll": "",
        "simple": "={{ $json.simplify !== undefined ? $json.simplify : true }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        1728,
        464
      ],
      "id": "9c975bb9-5ca5-4d2c-83e9-24ad9c29de57",
      "name": "Search a page in Notion",
      "credentials": {
        "notionApi": {
          "id": "FjpcGfmwV7qFtUY4",
          "name": "Notion account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURATION ---\nconst MY_TELEGRAM_ID = 8304749632;\nconst MY_CHAT_ID = 8304749632;\n\nlet userMessage = \"\";\nlet chatId = 0;\nlet userId = 0;\nlet messageId = 0;\nlet platform = \"telegram\";\nlet session_id = \"\";\n\n// 1. Defensively check triggers\nlet telegramTrigger = [];\ntry { telegramTrigger = $(\"Telegram Trigger\").all(); } catch (e) {}\n\nlet manualTrigger = [];\ntry { manualTrigger = $(\"When Executed by Another Workflow\").all(); } catch (e) {}\n\nif (telegramTrigger.length > 0) {\n  const msg = telegramTrigger[0].json.message || {};\n  userMessage = msg.text || \"\";\n  chatId = msg.chat?.id ?? 0;\n  userId = msg.from?.id ?? 0;\n  messageId = msg.message_id ?? 0;\n  platform = \"telegram\";\n  session_id = \"00000000-0000-0000-0000-\" + String(chatId).padStart(12, \"0\").slice(-12);\n} else {\n  const input = manualTrigger.length > 0 ? manualTrigger[0].json : {};\n  userMessage = input.user_message || \"System Auto-Fix Alert\";\n  chatId = MY_CHAT_ID;\n  userId = MY_TELEGRAM_ID;\n  messageId = Math.floor(Math.random() * 1000000) + 9000000;\n  platform = \"internal_system\";\n  session_id = \"ffffffff-ffff-ffff-ffff-\" + String(messageId).padStart(12, \"0\");\n}\n\n// 2. Defensively get controls from Check Controls\nlet controls = {};\ntry {\n  const checkControls = $(\"Check Controls\").first();\n  controls = checkControls?.json || {};\n} catch (e) {\n  controls = { kill_switch: false, system_state: \"fallback\" };\n}\n\nreturn [{\n  json: {\n    user_message: userMessage,\n    chat_id: chatId,\n    user_id: userId,\n    message_id: messageId,\n    session_id,\n    execution_id: $execution.id,\n    platform,\n    controls,\n    received_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "b53cad4a-1679-4627-b914-5b791b391785",
      "name": "Validate & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        -48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aeeb2f23-cdc6-4b53-bb77-05078fa6209e",
              "name": "system_context",
              "value": "={{ $('Get System Context (DB)').first().json.full_context }}",
              "type": "string"
            },
            {
              "id": "7da7c085-e94b-4366-9878-570e064708bf",
              "name": "memory_context",
              "value": "={{ $('Format Memory').first().json.memory_context }}",
              "type": "string"
            },
            {
              "id": "906df6b3-6269-45f4-a332-09a146eaefff",
              "name": "recent_chat",
              "value": "={{ { recent_messages: $json.recent_messages, total_messages: $json.total_messages, chat_id: $json.chat_id } }}",
              "type": "string"
            },
            {
              "id": "45f9dde4-ca23-4f4a-b187-2d77eab935b6",
              "name": "critical_state",
              "value": "={{ {   \"kill_switch\": $('Validate & Extract').first().json.controls.kill_switch || $('Check Controls').first().json.kill_switch || false,   \"comms_enabled\": $('Validate & Extract').first().json.controls.comms_enabled,   \"system_state\": $('Validate & Extract').first().json.controls.system_state || \"unknown\",   \"chat_id\": $('Validate & Extract').first().json.chat_id,   \"user_id\": $('Validate & Extract').first().json.user_id,   \"session_id\": $('Validate & Extract').first().json.session_id,   \"execution_id\": $execution.id,   \"workflow_id\": $workflow.id } }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        80
      ],
      "id": "234e1e8a-4a68-4012-ac2f-44354db94d69",
      "name": "Compile Agent Context"
    },
    {
      "parameters": {
        "description": "HubSpot Account Agent (account-level). Use for: account details, API usage/limits, audit logs, login/security activity, CRM object counts, owners/users, business units, currencies, pipelines, schemas, properties, and associations. Respects dry_run: if dry_run=true, DO NOT execute write operations; return a proposed plan + exact tool + payload instead.",
        "workflowId": {
          "__rl": true,
          "value": "x4OBG_14I8yFYlawZdtdS",
          "mode": "list",
          "cachedResultUrl": "/workflow/x4OBG_14I8yFYlawZdtdS",
          "cachedResultName": "AI Agent - HubSpot Account"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_id": "={{ $fromAI('request_id', 'Unique request id for this tool call (uuid or string).') }}",
            "session_id": "={{ $fromAI('session_id', 'Session id to correlate multi-step tool calls.') }}",
            "chat_id": "={{ $fromAI('chat_id', 'Chat id / thread id (string or number).') }}",
            "user_id": "={{ $fromAI('user_id', 'User id (string or number).') }}",
            "user_message": "={{ $fromAI('user_message', 'The user request for the HubSpot Account Agent to fulfill.') }}",
            "object_type": "={{ $fromAI('object_type', 'Context object type if relevant (e.g. account, contact, company, deal, ticket).', 'string', 'account') }}",
            "object_id": "={{ $fromAI('object_id', 'Context object id if relevant.') }}",
            "company_id": "={{ $fromAI('company_id', 'Optional HubSpot company id if relevant.') }}",
            "contact_id": "={{ $fromAI('contact_id', 'Optional HubSpot contact id if relevant.') }}",
            "caller_workflow_id": "={{ $fromAI('caller_workflow_id', 'Caller workflow id (for tracing).') }}",
            "caller_execution_id": "={{ $fromAI('caller_execution_id', 'Caller execution id (for tracing).') }}",
            "tool_name": "={{ $fromAI('tool_name', 'Tool routing name. Use hubspot.account for this agent.', 'string', 'hubspot.account') }}",
            "dry_run": "={{ $fromAI('dry_run', 'If true, do not perform write actions. If false, writes allowed if explicitly requested.', 'boolean', true) }}",
            "conversation_id": "={{ $fromAI('conversation_id', 'Optional conversation UUID used by logging/DB context.') }}",
            "hs_portal_id": "={{ $fromAI('hs_portal_id', 'Optional HubSpot portal id (account id) if known.') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "object_type",
              "displayName": "object_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "object_id",
              "displayName": "object_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "caller_workflow_id",
              "displayName": "caller_workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "caller_execution_id",
              "displayName": "caller_execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tool_name",
              "displayName": "tool_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dry_run",
              "displayName": "dry_run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hs_portal_id",
              "displayName": "hs_portal_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        816,
        752
      ],
      "id": "13f51953-4162-4712-bcc7-bc4fd8a325bb",
      "name": "Call HubSpot Account Agent"
    }
  ],
  "connections": {
    "Check Controls": {
      "main": [
        [
          {
            "node": "Validate & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kill Switch Active?": {
      "main": [
        [
          {
            "node": "Send Kill Switch Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Embedding (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get System Context (DB)": {
      "main": [
        [
          {
            "node": "Get Recent Chat (DB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Chat (DB)": {
      "main": [
        [
          {
            "node": "Compile Agent Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log User Message": {
      "main": [
        [
          {
            "node": "Intake Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP: Supabase": {
      "ai_tool": [
        [
          {
            "node": "Intake Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Knowledge DB (RAG)": {
      "ai_tool": [
        [
          {
            "node": "Intake Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM (Main)": {
      "ai_languageModel": [
        [
          {
            "node": "Main Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Reply": {
      "main": [
        [
          {
            "node": "Execute Reflection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intake Agent": {
      "main": [
        [
          {
            "node": "Parse Intake Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Agent": {
      "main": [
        [
          {
            "node": "Telegram Formatter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Assistant Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP: n8n Operations": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Intake Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP: Supabase (God-Mode DB)": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Updater": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Optimizer": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Deployer": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Builder": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Health Monitor": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execution Debugger": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Fixer": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Universal Integration": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Expression Builder": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code Generator": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Credential Inspector": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Message (Guarded)": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Knowledge DB (RAG)1": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Controls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Intake Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Formatter": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Embedding (HTTP)": {
      "main": [
        [
          {
            "node": "Recall Similar Lessons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recall Similar Lessons": {
      "main": [
        [
          {
            "node": "Format Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Memory": {
      "main": [
        [
          {
            "node": "Get System Context (DB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Reflection": {
      "main": [
        [
          {
            "node": "Save Metacoginition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intake Plan": {
      "main": [
        [
          {
            "node": "Main Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check Controls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Intake Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Main Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search a page in Notion": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Extract": {
      "main": [
        [
          {
            "node": "Kill Switch Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Agent Context": {
      "main": [
        [
          {
            "node": "Log User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call HubSpot Account Agent": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d82e0d27c2a88970c7ba9693b6bad225f1d31f9cf0d392d33dd9cabf99f185f"
  }
}
