Notion-SOP-Generator-Fixed.json
{
  "name": "Notion SOP Generator (Fixed)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rootFolderId",
              "name": "rootFolderId",
              "type": "string",
              "value": "1envSCfKUb7g5K2aXJ2CqpJlHH6bzporK"
            }
          ]
        },
        "options": {}
      },
      "id": "f02554a2-c416-4495-8cf6-3133f0dc0771",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "type": "body",
                    "name": "start_cursor",
                    "value": "={{ $response?.body?.next_cursor || undefined }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.has_more === false }}"
            }
          }
        }
      },
      "id": "47c2bc9a-f5b7-48b2-a396-79c7d9cabcbe",
      "name": "Fetch All Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -480
      ],
      "credentials": {
        "notionApi": {
          "id": "FjpcGfmwV7qFtUY4",
          "name": "Notion account"
        },
        "notionOAuth2Api": {
          "id": "ja4NGzIWv8no3K3p",
          "name": "Notion OAuth API (Jonah)"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        -480
      ],
      "id": "213dbcd1-9cfc-4195-adea-1437fa48e2c5",
      "name": "Split Notion Pages"
    },
    {
      "parameters": {
        "jsCode": "// FIXED: Run once for all items, chunk into batches of 100\n// Each output item represents one batch for the Architect\n\nconst BATCH_SIZE = 100;\nconst allPages = $input.all().map(item => item.json);\n\n// Simplify each page to just id and title\nconst simplifiedList = allPages.map(p => {\n  const props = p.properties || {};\n  const titleProp = Object.values(props).find(prop => prop.type === 'title');\n  \n  let title = 'Untitled Page';\n  if (titleProp && titleProp.title && Array.isArray(titleProp.title)) {\n    title = titleProp.title.map(t => t.plain_text).join('');\n  }\n  \n  return {\n    id: p.id,\n    title: title || 'Untitled Page'\n  };\n});\n\n// Chunk into batches\nconst batches = [];\nfor (let i = 0; i < simplifiedList.length; i += BATCH_SIZE) {\n  batches.push(simplifiedList.slice(i, i + BATCH_SIZE));\n}\n\n// Output one item per batch - each will be processed by Architect\nreturn batches.map((batch, index) => ({\n  json: {\n    batchIndex: index,\n    batchSize: batch.length,\n    totalBatches: batches.length,\n    totalPages: simplifiedList.length,\n    pageList: batch  // Array of {id, title} objects\n  }\n}));"
      },
      "id": "8195cdd1-1151-49be-a280-c57cda6fd2fb",
      "name": "Prep Data for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -480
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        592,
        -304
      ],
      "id": "445d8548-108e-443c-b201-8d5755659ba6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Lb7LQd5GQa1bZ9yX",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the raw data provided inside the <notion_pages> XML tags below.\n\n<notion_pages>\n{{ JSON.stringify($json.pageList) }}\n</notion_pages>\n\nTASK: Group these {{ $json.batchSize }} pages (batch {{ $json.batchIndex + 1 }} of {{ $json.totalBatches }}) into logical \"SOP Bundles\".\n\nIgnore Junk: Skip meeting notes, one-liners, and journal entries.\n\nGroup Logic: Combine related items (e.g., \"HubSpot Setup\" + \"HubSpot Config\" = ONE bundle).\n\nRouting: Assign each bundle to exactly one of these folders: [01_MASTER_DOCUMENTS, 02_Business_Operations, 03_Target_Market, 04_Services_Products, 05_Enrichment_Pipeline, 06_HubSpot_CRM, 07_Outreach_Sequences, 08_Voice_AI, 09_Infrastructure, 10_Integrations, 11_AI_Agents, 12_Knowledge_Base, 13_Standards_Guidelines, 14_Templates, 15_Analytics_Reports, 16_Archive]\n\nOUTPUT FORMAT: Return ONLY valid JSON. Do not include markdown formatting (like ```json).\n\n{ \"bundles\": [ { \"topicName\": \"Name of the SOP\", \"targetFolder\": \"Folder Name\", \"pageIds\": [\"id_1\", \"id_2\"], \"reason\": \"Why these were grouped\" } ] }",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        576,
        -480
      ],
      "id": "108334b8-33ef-4879-aaa4-b5adec61193f",
      "name": "The Architect"
    },
    {
      "parameters": {
        "jsCode": "// FIXED: Parse AI Output safely - runs per item (per batch)\nconst response = $json.content || $json.text || $json.output || $json.response || JSON.stringify($json);\n\n// Find the JSON block starting with { \"bundles\": ... }\nconst jsonStart = response.indexOf('{');\nconst jsonEnd = response.lastIndexOf('}') + 1;\n\nif (jsonStart === -1) {\n  console.log('Warning: No JSON found in AI response for this batch');\n  return [];  // Return empty array, don't throw\n}\n\ntry {\n  const cleanJson = response.substring(jsonStart, jsonEnd);\n  const parsed = JSON.parse(cleanJson);\n  \n  // Return each bundle as a separate item\n  return (parsed.bundles || []).map(b => ({ json: b }));\n} catch (e) {\n  console.log('Warning: Failed to parse JSON:', e.message);\n  return [];\n}"
      },
      "id": "de84e1b4-f500-43d1-8d89-d79eeb331440",
      "name": "Split Bundles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -480
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIXED: Split Page IDs for this specific bundle - runs per bundle item\n// Pass bundle context forward on each pageId item\nconst bundle = $json;\n\nreturn bundle.pageIds.map(id => ({\n  json: {\n    pageId: id,\n    // Carry forward bundle context for later use\n    topicName: bundle.topicName,\n    targetFolder: bundle.targetFolder,\n    reason: bundle.reason\n  }\n}));"
      },
      "id": "5607faae-db96-4022-8105-926d038e1d18",
      "name": "Prep Content Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -480
      ]
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/blocks/{{ $json.pageId }}/children?page_size=100",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "id": "339fe96d-c20d-485b-8c90-268810b7be29",
      "name": "Fetch Full Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        -480
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "FjpcGfmwV7qFtUY4",
          "name": "Notion account"
        },
        "notionOAuth2Api": {
          "id": "ja4NGzIWv8no3K3p",
          "name": "Notion OAuth API (Jonah)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// FIXED: Flatten content blocks into text - runs per item\n// Bundle context is now on the current item, not from a different node\nconst blocks = $json.results || [];\n\n// Get bundle info from the input item (passed through from HTTP node)\nconst inputItem = $input.item.json;\n\nconst textContent = blocks.map(b => {\n  try {\n    if (b[b.type] && b[b.type].rich_text) {\n      return b[b.type].rich_text.map(t => t.plain_text).join('');\n    }\n  } catch (e) {\n    // Ignore blocks without rich_text\n  }\n  return '';\n}).filter(t => t.length > 0).join('\\n');\n\nreturn [{\n  json: {\n    textContent: textContent,\n    topicName: inputItem.topicName || $('Prep Content Fetch').item.json.topicName,\n    targetFolder: inputItem.targetFolder || $('Prep Content Fetch').item.json.targetFolder\n  }\n}];"
      },
      "id": "d7ef61d2-04ee-4aac-84c5-a9199fb34cf8",
      "name": "Flatten Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -480
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIXED: Group and aggregate by bundle identity (topicName + targetFolder)\n// This replaces the Aggregate node to ensure proper grouping\n\nconst allItems = $input.all().map(item => item.json);\n\n// Group by topicName + targetFolder\nconst groups = {};\nfor (const item of allItems) {\n  const key = `${item.topicName}|||${item.targetFolder}`;\n  if (!groups[key]) {\n    groups[key] = {\n      topicName: item.topicName,\n      targetFolder: item.targetFolder,\n      allContent: []\n    };\n  }\n  if (item.textContent && item.textContent.trim()) {\n    groups[key].allContent.push(item.textContent);\n  }\n}\n\n// Return one item per bundle\nreturn Object.values(groups).map(g => ({ json: g }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -480
      ],
      "id": "9d9d805f-2be6-4f40-8bc9-3b0f8e45f074",
      "name": "Aggregate by Bundle"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4o"
        },
        "messages": {
          "values": [
            {
              "content": "=Please write a highly professional, comprehensive Master SOP titled: \"{{ $json.topicName }}\"\n\n**CONTEXT & DATA SOURCE:**\nThis SOP is a high-level synthesis of {{ $json.allContent.length }} individual internal notes and technical drafts:\n---------------------\n{{ $json.allContent.join('\\n\\n=== NEXT NOTE ===\\n\\n') }}\n---------------------\n\n**DOCUMENT STRUCTURE REQUIREMENTS:**\nYou must format the output exactly as follows. Start immediately with the content.\n\n# {{ $json.topicName }}\n\n**Document Metadata**\n* **Created At:** {{ $now.format('yyyy-MM-dd') }}\n* **Last Updated:** {{ $now.format('yyyy-MM-dd') }}\n* **Version:** 1.0 (Auto-Synthesized)\n* **Status:** Final Master Record\n\n---\n\n### Usage Context & Governance\n* **Primary Audience:** (e.g., \"New Employees at Autoshop Media,\" \"AI Agents,\" \"Sales Team\") - *Identify exactly who this is for.*\n* **Core Use Case:** (e.g., \"Onboarding for our flagship program,\" \"Technical configuration for CRM\") - *Explain WHO should use this and WHEN.*\n* **AI Agent Context:** Provide a 2-3 sentence summary specifically for an AI agent to understand the 'Business Logic' behind this process so it can answer customer or team queries accurately.\n* **Employee Onboarding:** Briefly explain how a new hire at Autoshop Media should use this document to understand our standard of excellence for this specific topic.\n* **Keywords/Tags:** (Provide 10 searchable keywords/tags)\n\n---\n\n## 1. Executive Summary & Purpose\n(Write an in-depth summary of why this process is vital to Autoshop Media's operations and the specific outcomes it guarantees.)\n\n## 2. Prerequisites & Technical Requirements\n(List all tools, software access, permissions, or prerequisite knowledge required before executing these steps.)\n\n## 3. Step-by-Step Implementation Guide\n(Provide detailed, granular instructions. Break complex tasks into Phase 1, Phase 2, etc. Use numbered lists for actions and bullet points for additional context.)\n\n## 4. Quality Control & Validation\n(Describe how a team member or an automated system can verify that the steps above were completed correctly.)\n\n## 5. Troubleshooting, Edge Cases & FAQs\n(Synthesize common errors, 'gotchas', or questions mentioned in the source notes into a clear reference section.)"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1920,
        -480
      ],
      "id": "71ed9b0a-8b07-4d61-aadf-290dd0e201dd",
      "name": "The Author",
      "credentials": {
        "openAiApi": {
          "id": "Lb7LQd5GQa1bZ9yX",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = '{{ $('Aggregate by Bundle').item.json.targetFolder }}' and '{{ $('Configuration').first().json.rootFolderId }}' in parents and mimeType = 'application/vnd.google-apps.folder' and trashed = false",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1envSCfKUb7g5K2aXJ2CqpJlHH6bzporK",
            "mode": "list",
            "cachedResultName": "Auto Shop Media - SOPs",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1envSCfKUb7g5K2aXJ2CqpJlHH6bzporK"
          },
          "includeTrashed": false
        },
        "options": {}
      },
      "id": "82d31bb3-3486-4d39-964b-6d9cb2518fa0",
      "name": "Find Target Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2144,
        -480
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z7F2zTIP5m0A7tTe",
          "name": "Google Drive OAuth API (Jonah)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "folderId": "={{ $json.id || $('Configuration').first().json.rootFolderId }}",
        "title": "={{ $('Aggregate by Bundle').item.json.topicName }} - {{ $now.format('yyyy-MM-dd') }}"
      },
      "id": "ca68288f-64d6-4974-9546-2aa94b9a119d",
      "name": "Create Final SOP",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2368,
        -480
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "iZMIigRhMpXrTsvb",
          "name": "Jonah Google Dosc"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('The Author').item.json.message.content }}"
            }
          ]
        }
      },
      "id": "6e908af9-fd22-4b0c-b34b-d29abd3dd574",
      "name": "Write Content",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2592,
        -480
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "iZMIigRhMpXrTsvb",
          "name": "Jonah Google Dosc"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sops (sop_id, sop_name, category, status, priority, version, owner, google_doc_id, google_doc_url, tags, quick_summary, created_at, updated_at) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, NOW(), NOW()) ON CONFLICT (sop_id) DO UPDATE SET google_doc_id = $8, google_doc_url = $9, updated_at = NOW() RETURNING *",
        "options": {
          "queryReplacement": "={{ 'SOP-' + $('Create Final SOP').item.json.id }}, {{ $('Aggregate by Bundle').item.json.topicName }}, {{ $('Aggregate by Bundle').item.json.targetFolder }}, Published, Medium, 1.0, AI Architect, {{ $('Create Final SOP').item.json.id }}, https://docs.google.com/document/d/{{ $('Create Final SOP').item.json.id }}, Notion Import, Auto-generated by AI"
        }
      },
      "id": "89f80b3d-b4c1-40a1-ad3c-21d75e93ad92",
      "name": "Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2816,
        -480
      ],
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Configuration": {
      "main": [
        [
          {
            "node": "Fetch All Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Metadata": {
      "main": [
        [
          {
            "node": "Split Notion Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Notion Pages": {
      "main": [
        [
          {
            "node": "Prep Data for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Data for AI": {
      "main": [
        [
          {
            "node": "The Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "The Architect",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "The Architect": {
      "main": [
        [
          {
            "node": "Split Bundles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Bundles": {
      "main": [
        [
          {
            "node": "Prep Content Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Content Fetch": {
      "main": [
        [
          {
            "node": "Fetch Full Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Content": {
      "main": [
        [
          {
            "node": "Flatten Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Text": {
      "main": [
        [
          {
            "node": "Aggregate by Bundle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate by Bundle": {
      "main": [
        [
          {
            "node": "The Author",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Author": {
      "main": [
        [
          {
            "node": "Find Target Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Target Folder": {
      "main": [
        [
          {
            "node": "Create Final SOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Final SOP": {
      "main": [
        [
          {
            "node": "Write Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Content": {
      "main": [
        [
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d82e0d27c2a88970c7ba9693b6bad225f1d31f9cf0d392d33dd9cabf99f185f"
  }
}
