SOP_Synthesizer_AI_Grouping.n8n.json
{
  "name": "SOP Synthesizer (AI Grouping)",
  "nodes": [
    {
      "parameters": {},
      "id": "6ff964a7-a9ab-4b7f-b357-e0cae05db230",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1376,
        176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "388d3d9a-1692-4b00-97fc-688d6ce5d51a",
      "name": "Loop 1-by-1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sops (sop_id, sop_name, category, status, priority, version, owner, google_doc_id, google_doc_url, tags, quick_summary, created_at, updated_at) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, NOW(), NOW()) ON CONFLICT (sop_id) DO UPDATE SET google_doc_id = $8, google_doc_url = $9, updated_at = NOW() RETURNING *",
        "options": {
          "queryReplacement": "={{ 'SOP-' + $('Create Final SOP').first().json.id }}, {{ $('Aggregate').first().json.topicName }}, {{ $('Aggregate').first().json.targetFolder }}, Published, Medium, 1.0, AI Architect, {{ $('Create Final SOP').first().json.id }}, https://docs.google.com/document/d/{{ $('Create Final SOP').first().json.id }}, Notion Import, Auto-generated by AI"
        }
      },
      "id": "bf014c7a-ce99-46e6-81bc-3db2f18a023a",
      "name": "Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2336,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "BwXy2JHETe47vH1I",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.notion.com/v1/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "type": "body",
                    "name": "start_cursor",
                    "value": "={{ $response?.body?.next_cursor || undefined }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.has_more === false }}"
            }
          }
        }
      },
      "id": "c4377c26-3412-4d4e-ad74-3eefb53d3528",
      "name": "Fetch All Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        176
      ],
      "credentials": {
        "notionApi": {
          "id": "FjpcGfmwV7qFtUY4",
          "name": "Notion account"
        },
        "notionOAuth2Api": {
          "id": "ja4NGzIWv8no3K3p",
          "name": "Notion OAuth API (Jonah)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the incoming data\n// (We removed \".results\" because the \"Split\" node already unpacked it)\nconst allPages = $input.all().map(item => item.json);\n\nconst simplifiedList = allPages.map(p => {\n  const props = p.properties || {};\n  \n  // 2. Dynamic Search: Find the property where type === \"title\"\n  const titleProp = Object.values(props).find(prop => prop.type === 'title');\n  \n  let title = 'Untitled Page';\n  \n  // 3. Extract text safely\n  if (titleProp && titleProp.title && Array.isArray(titleProp.title)) {\n    title = titleProp.title.map(t => t.plain_text).join('');\n  }\n  \n  // 4. Return clean object\n  return {\n    id: p.id,\n    title: title || 'Untitled Page'\n  };\n});\n\n// 5. Output the list for the AI\nreturn [{\n  json: {\n    totalCount: simplifiedList.length,\n    pageList: JSON.stringify(simplifiedList)\n  }\n}];"
      },
      "id": "b55a2a8c-a909-48f9-9860-1881e6d9861c",
      "name": "Prep Data for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Output safely\n// Handles different output formats (content, text, output, response)\nconst response = $json.content || $json.text || $json.output || $json.response || JSON.stringify($json);\n\n// Find the JSON block starting with { \"bundles\": ... }\nconst jsonStart = response.indexOf('{');\nconst jsonEnd = response.lastIndexOf('}') + 1;\n\nif (jsonStart === -1) {\n  throw new Error(\"No JSON found in AI response\");\n}\n\nconst cleanJson = response.substring(jsonStart, jsonEnd);\nconst parsed = JSON.parse(cleanJson);\n\nreturn (parsed.bundles || []).map(b => ({ json: b }));"
      },
      "id": "9eda2207-b4d6-4642-bcde-c53f5695663e",
      "name": "Split Bundles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split Page IDs for this specific bundle so we can fetch them\nconst bundle = $json;\nreturn bundle.pageIds.map(id => ({\n  json: {\n    pageId: id,\n    bundleContext: bundle\n  }\n}));"
      },
      "id": "95d199a3-4152-4215-a8c7-e8a56897465f",
      "name": "Prep Content Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        208
      ]
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/blocks/{{ $json.pageId }}/children?page_size=100",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "id": "092e80a3-84d0-49c8-ae92-89d70aba7fc9",
      "name": "Fetch Full Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        208
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "FjpcGfmwV7qFtUY4",
          "name": "Notion account"
        },
        "notionOAuth2Api": {
          "id": "ja4NGzIWv8no3K3p",
          "name": "Notion OAuth API (Jonah)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Flatten content blocks into text\nconst blocks = $json.results || [];\nconst bundleInfo = $('Prep Content Fetch').item.json.bundleContext;\n\nconst textContent = blocks.map(b => {\n  if (b[b.type].rich_text) return b[b.type].rich_text.map(t => t.plain_text).join('');\n  return '';\n}).join('\\n');\n\nreturn [{\n  json: {\n    textContent,\n    ...bundleInfo\n  }\n}];"
      },
      "id": "ab8b5bd8-ddc6-4753-a614-b3399f5a57b7",
      "name": "Flatten Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        208
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = '{{ $('Aggregate').first().json.targetFolder }}' and '{{ $('Configuration1').first().json.rootFolderId }}' in parents and mimeType = 'application/vnd.google-apps.folder' and trashed = false",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1envSCfKUb7g5K2aXJ2CqpJlHH6bzporK",
            "mode": "list",
            "cachedResultName": "Auto Shop Media - SOPs",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1envSCfKUb7g5K2aXJ2CqpJlHH6bzporK"
          },
          "includeTrashed": false
        },
        "options": {}
      },
      "id": "a33195b9-553e-4fbe-90c8-240a8a6ed373",
      "name": "Find Target Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        208
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z7F2zTIP5m0A7tTe",
          "name": "Google Drive OAuth API (Jonah)"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $json.id || $('Configuration1').first().json.rootFolderId }}",
        "title": "={{ $('Aggregate').first().json.topicName }} - {{ $now.format('yyyy-MM-dd') }}"
      },
      "id": "bdec9719-71db-4fec-998c-21e9781bd3cb",
      "name": "Create Final SOP",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1968,
        208
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "iZMIigRhMpXrTsvb",
          "name": "Jonah Google Dosc"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Create Final SOP').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('The Author').item.json.output[1].content[0].text }}"
            }
          ]
        }
      },
      "id": "15f8003c-159a-44ce-bab0-24d64d20f5a2",
      "name": "Write Content",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2160,
        208
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "iZMIigRhMpXrTsvb",
          "name": "Jonah Google Dosc"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rootFolderId",
              "name": "rootFolderId",
              "type": "string",
              "value": "1envSCfKUb7g5K2aXJ2CqpJlHH6bzporK"
            }
          ]
        },
        "options": {}
      },
      "id": "c0fa7195-61f6-4398-aab7-70dce86ca121",
      "name": "Configuration1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        176
      ]
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -640,
        176
      ],
      "id": "a1ab0007-64da-4fda-9ba8-2ff90746fb3c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "textContent",
              "renameField": true,
              "outputFieldName": "allContent"
            },
            {
              "fieldToAggregate": "topicName",
              "renameField": true,
              "outputFieldName": "topicName"
            },
            {
              "fieldToAggregate": "targetFolder",
              "renameField": true,
              "outputFieldName": "targetFolder"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1232,
        208
      ],
      "id": "c050004f-a067-4b88-865b-789f568d8508",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -848,
        176
      ],
      "id": "49612e77-4e8a-43eb-b1e4-2162b3b3b0b5",
      "name": "Split Notion Pages"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -224,
        352
      ],
      "id": "fb9b5a1c-a5fc-42a3-97ae-b289f4f3a492",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Lb7LQd5GQa1bZ9yX",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the raw data provided inside the <notion_pages> XML tags below.\n\n<notion_pages> {{ $json.pageList }} </notion_pages>\n\nTASK: Group these {{ $json.totalCount }} pages into logical \"SOP Bundles\".\n\nIgnore Junk: Skip meeting notes, one-liners, and journal entries.\n\nGroup Logic: Combine related items (e.g., \"HubSpot Setup\" + \"HubSpot Config\" = ONE bundle).\n\nRouting: Assign each bundle to exactly one of these folders: [01_MASTER_DOCUMENTS, 02_Business_Operations, 03_Target_Market, 04_Services_Products, 05_Enrichment_Pipeline, 06_HubSpot_CRM, 07_Outreach_Sequences, 08_Voice_AI, 09_Infrastructure, 10_Integrations, 11_AI_Agents, 12_Knowledge_Base, 13_Standards_Guidelines, 14_Templates, 15_Analytics_Reports, 16_Archive]\n\nOUTPUT FORMAT: Return ONLY valid JSON. Do not include markdown formatting (like ```json).\n\n{ \"bundles\": [ { \"topicName\": \"Name of the SOP\", \"targetFolder\": \"Folder Name\", \"pageIds\": [\"id_1\", \"id_2\"], \"reason\": \"Why these were grouped\" } ] }",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -208,
        192
      ],
      "id": "1eecc989-52e5-475c-83f8-8afd0e077d1f",
      "name": "The Architect"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Please write a highly professional, comprehensive Master SOP titled: \"{{ $json.topicName[0] }}\"\n\n**CONTEXT & DATA SOURCE:**\nThis SOP is a high-level synthesis of {{ $json.allContent.length }} individual internal notes and technical drafts:\n---------------------\n{{ $json.allContent.join('\\n\\n=== NEXT NOTE ===\\n\\n') }}\n---------------------\n\n**DOCUMENT STRUCTURE REQUIREMENTS:**\nYou must format the output exactly as follows. Start immediately with the content.\n\n# {{ $json.topicName[0] }}\n\n**Document Metadata**\n* **Created At:** {{ $now.format('yyyy-MM-dd') }}\n* **Last Updated:** {{ $now.format('yyyy-MM-dd') }}\n* **Version:** 1.0 (Auto-Synthesized)\n* **Status:** Final Master Record\n\n---\n\n### Usage Context & Governance\n* **Primary Audience:** (e.g., \"New Employees at Autoshop Media,\" \"AI Agents,\" \"Sales Team\") - *Identify exactly who this is for.*\n* **Core Use Case:** (e.g., \"Onboarding for our flagship program,\" \"Technical configuration for CRM\") - *Explain WHO should use this and WHEN.*\n* **AI Agent Context:** Provide a 2-3 sentence summary specifically for an AI agent to understand the 'Business Logic' behind this process so it can answer customer or team queries accurately.\n* **Employee Onboarding:** Briefly explain how a new hire at Autoshop Media should use this document to understand our standard of excellence for this specific topic.\n* **Keywords/Tags:** (Provide 10 searchable keywords/tags)\n\n---\n\n## 1. Executive Summary & Purpose\n(Write an in-depth summary of why this process is vital to Autoshop Media's operations and the specific outcomes it guarantees.)\n\n## 2. Prerequisites & Technical Requirements\n(List all tools, software access, permissions, or prerequisite knowledge required before executing these steps.)\n\n## 3. Step-by-Step Implementation Guide\n(Provide detailed, granular instructions. Break complex tasks into Phase 1, Phase 2, etc. Use numbered lists for actions and bullet points for additional context.)\n\n## 4. Quality Control & Validation\n(Describe how a team member or an automated system can verify that the steps above were completed correctly.)\n\n## 5. Troubleshooting, Edge Cases & FAQs\n(Synthesize common errors, 'gotchas', or questions mentioned in the source notes into a clear reference section.)"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1408,
        208
      ],
      "id": "5ce4df63-00a5-43f6-b415-bd14f660f229",
      "name": "The Author",
      "credentials": {
        "openAiApi": {
          "id": "Lb7LQd5GQa1bZ9yX",
          "name": "OpenAi account 4"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Configuration1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop 1-by-1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Content Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Database": {
      "main": [
        [
          {
            "node": "Loop 1-by-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Metadata": {
      "main": [
        [
          {
            "node": "Split Notion Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Data for AI": {
      "main": [
        [
          {
            "node": "The Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Bundles": {
      "main": [
        [
          {
            "node": "Loop 1-by-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Content Fetch": {
      "main": [
        [
          {
            "node": "Fetch Full Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Content": {
      "main": [
        [
          {
            "node": "Flatten Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Text": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Target Folder": {
      "main": [
        [
          {
            "node": "Create Final SOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Final SOP": {
      "main": [
        [
          {
            "node": "Write Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Content": {
      "main": [
        [
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration1": {
      "main": [
        [
          {
            "node": "Fetch All Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Prep Data for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "The Author",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Notion Pages": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "The Architect",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "The Architect": {
      "main": [
        [
          {
            "node": "Split Bundles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Author": {
      "main": [
        [
          {
            "node": "Find Target Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d82e0d27c2a88970c7ba9693b6bad225f1d31f9cf0d392d33dd9cabf99f185f"
  }
}
