agent-tools/code-generator-tool.json
{
  "name": "💻 Code Generator Tool",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "id": "trigger-1",
      "name": "When Called by AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "task",
              "name": "task",
              "type": "string",
              "value": "={{ $json.task || $json.description || 'Generate code' }}"
            },
            {
              "id": "code_type",
              "name": "code_type",
              "type": "string",
              "value": "={{ $json.code_type || $json.type || 'javascript' }}"
            },
            {
              "id": "context",
              "name": "context",
              "type": "string",
              "value": "={{ $json.context || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "id": "set-1",
      "name": "Extract Parameters"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \"Generate \" + $json.code_type + \" code for:\\n\\n\" + $json.task + ($json.context ? \"\\n\\nContext:\\n\" + $json.context : \"\") }}",
        "options": {
          "systemMessage": "You are an expert code generator for n8n workflows.\n\n# CODE GENERATION RULES\n1. Return ONLY working code - no markdown, no explanations\n2. For JavaScript: Use n8n conventions ($input, $json, $node, etc.)\n3. Add error handling with try-catch\n4. Use clear variable names\n5. Add helpful comments\n6. Return data in n8n format: [{ json: {...} }]\n\n# n8n JAVASCRIPT CONVENTIONS\n- $input.all() - Get all input items\n- $input.first() - Get first input item  \n- $json - Current item's JSON data\n- $node - Access other nodes: $node['Node Name'].json\n- return [{ json: {...} }] - Return format\n\n# n8n EXPRESSION SYNTAX\n- {{ $json.field }} - Simple field access\n- {{ $json.nested?.field || 'default' }} - Safe access with default\n- {{ new Date().toISOString() }} - JavaScript in expressions\n- {{ $('Node Name').first().json.field }} - Reference other nodes\n\n# EXAMPLE: Data Transformation\n```javascript\nconst items = $input.all();\nconst results = [];\n\ntry {\n  for (const item of items) {\n    const data = item.json;\n    \n    results.push({\n      id: data.id || 'unknown',\n      processed_at: new Date().toISOString(),\n      // Your transformation logic\n    });\n  }\n  \n  return results.map(r => ({ json: r }));\n} catch (error) {\n  return [{ json: { error: error.message } }];\n}\n```\n\n# EXAMPLE: API Response Processing\n```javascript\nconst response = $input.first().json;\n\ntry {\n  // Handle different response structures\n  const data = response.data || response.results || response;\n  \n  return [{\n    json: {\n      success: true,\n      count: Array.isArray(data) ? data.length : 1,\n      data: data\n    }\n  }];\n} catch (error) {\n  return [{ json: { success: false, error: error.message } }];\n}\n```\n\nGenerate the code now. ONLY code, NO markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [680, 300],
      "id": "chain-1",
      "name": "Generate Code"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [680, 120],
      "id": "model-1",
      "name": "Claude Sonnet 4.5",
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CRED_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Clean up and format the generated code\nlet code = $input.first().json.output || $input.first().json.text || '';\n\n// Remove markdown if present\ncode = code.trim();\nif (code.startsWith('```')) {\n  code = code.replace(/```javascript\\n?/g, '')\n               .replace(/```js\\n?/g, '')\n               .replace(/```\\n?/g, '');\n}\n\nreturn [{\n  json: {\n    code: code,\n    code_type: $('Extract Parameters').first().json.code_type,\n    task: $('Extract Parameters').first().json.task\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "code-1",
      "name": "Clean Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "output",
              "name": "output",
              "type": "string",
              "value": "={{ `✅ Code generated for: ${$json.task}\\n\\n\\`\\`\\`${$json.code_type}\\n${$json.code}\\n\\`\\`\\`` }}"
            },
            {
              "id": "code",
              "name": "code",
              "type": "string",
              "value": "={{ $json.code }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 300],
      "id": "set-2",
      "name": "Prepare Output"
    }
  ],
  "connections": {
    "When Called by AI Agent": {
      "main": [[{"node": "Extract Parameters", "type": "main", "index": 0}]]
    },
    "Extract Parameters": {
      "main": [[{"node": "Generate Code", "type": "main", "index": 0}]]
    },
    "Generate Code": {
      "main": [[{"node": "Clean Code", "type": "main", "index": 0}]]
    },
    "Claude Sonnet 4.5": {
      "ai_languageModel": [[{"node": "Generate Code", "type": "ai_languageModel", "index": 0}]]
    },
    "Clean Code": {
      "main": [[{"node": "Prepare Output", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-12T02:30:00.000Z",
  "versionId": "1"
}
